<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예랑예신</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/user/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <link rel="shortcut icon" th:href="@{/images/common/logo_png.png}" sizes="60x60">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="login_box">
            <div id="logo">
                <img th:src="@{/images/common/logo.svg}" alt="YERANGYESIN logo">
            </div>
            <div id="title">
                <th:block th:if="${ no == 1 }">
                    <p class="box_tit">아이디 찾기</p>
                </th:block>
                <th:block th:if="${ no == 2 }">
                    <p class="box_tit">비밀번호 찾기</p>
                </th:block>
            </div>
            <div id="email_div">
                <th:block th:if="${ no == 1 }">
                    <div>
                        <h4 style="font-weight:var(--regular); font-size: 14px; color: #6667AB">
                            가입 시 입력하신 이메일 주소를 입력해주세요.<br>
                            해당 이메일로 인증코드를 전송해 드릴게요!
                        </h4>
                    </div>
                </th:block>
                <th:block th:if="${ no == 2 }">
                    <div>
                        <h4 style="font-weight:var(--regular); font-size: 14px; color: #6667AB">
                            아이디와 이메일 주소를 입력해 주세요.<br>
                            해당 이메일로 임시 비밀번호를 전송해 드릴게요!
                        </h4>
                    </div>
                    <div class="id_box">
                        <input class="login_input id" type="text" name="memberId" id="memberId" placeholder="아이디를 입력해 주세요">
                    </div>
                </th:block>
                <div class="email_box">
                    <input class="login_input email" type="email" name="memail" id="memail" placeholder="이메일을 입력해 주세요">
                </div>
                <th:block th:if="${ no == 1 }">
                    <button class="login_btn" type="button" id="checkEmail">인증코드 받기</button>
                </th:block>
                <th:block th:if="${ no == 2 }">
                    <button class="login_btn" type="button" id="tempPwd">임시 비밀번호 발급받기</button>
                </th:block>
            </div>
            <span class="divide_line"></span>
            <p class="signup_txt">예랑예신 회원이신가요?</p>
            <button type="button" class="login_btn go_signup" onclick="location.href='/login'">로그인</button>
        </div>
    </div>
    <!-- 240520-팝업창 by NJH   -->
    <div class="pop_bg"></div>
    <div class="pop_cont">
        <span class="pop_icon"><img th:src="@{/images/common/icon_group_modal_bang.svg}" alt="popup icon image"></span>
        <div class="pop_txt">
            <p>유효한 이메일이 아닙니다.<br>입력한 이메일을 확인해주세요.</p>
        </div>
        <span class="confirm_btn">확인</span>
    </div>

    <script src="/js/forgetInfo.js"></script>


</body>
</html>