<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div style="position: fixed; margin-left: 18px; margin-bottom: 18px; width: 100%; background-color: #ffffff; z-index: 2;">
    <img th:src="@{/images/common/logo.svg}" alt="logo" height="60px" width="60px" style="margin-top: 18px; margin-bottom: 18px;">
    <p sec:authorize="hasAnyAuthority('ADMIN')" sec:authentication="principal.loginUserDTO.nickname"></p>
<hr style="background-color: #EDEDFF; height: 1px; border: 0">
</div>
