<!--<h1>header</h1>-->
<link rel="stylesheet" href="css/default.css"/>
<div style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px">
    <img src="images/common/logo.svg" alt="logo" height="100px" width="100px">
</div>
<hr style="background-color: #EDEDFF; height: 1px; border: 0">
<div align="center" style="height: 880px;width: 150px; border-right-style: solid; border-right-color: #6667AB; border-right-width: 1px " >
    <div>
        <img src="images/common/admin/icon_dashBoard.svg" alt="icon_adminDashBoard" style="margin-top:30px; height: 40px; width: 40px">
    </div>
    <div>
        <img src="images/common/admin/icon_user.svg" alt="icon_adminUser" style="margin-top:30px; height: 40px; width: 40px">
        <p>회원 관리</p>
    </div>
    <div onclick="location.href='/admin/post'">
        <img src="images/common/admin/icon_postBoard.svg" alt="icon_adminPostBoard" style="margin-top:30px; height: 40px; width: 40px">
        <p>게시판 관리</p>
    </div>
    <div>
        <img src="images/common/admin/icon_notice.svg" alt="icon_adminNotice" style="margin-top:30px; height: 40px; width: 40px">
        <p>공지사항 관리</p>
    </div>
    <div>
        <img src="images/common/admin/icon_magazine.svg" alt="icon_adminMagazine" style="margin-top:30px; height: 40px; width: 40px">
        <p>매거진 관리</p>
    </div>
</div>