<div style="margin-top: 18px; margin-left: 18px; margin-bottom: 18px">
    <img th:src="@{/images/common/logo.svg}" alt="logo" height="60px" width="60px">
</div>
<hr style="background-color: #EDEDFF; height: 1px; border: 0">
<div align="center" style="height: 810px;width: 150px; border-right-style: solid; border-right-color: #6667AB; border-right-width: 1px " >
    <div onclick="location.href='/admin'" style="cursor: pointer">
        <img th:src="@{/images/common/admin/icon_dashBoard.svg}" alt="icon_adminDashBoard" style="margin-top:30px; height: 40px; width: 40px">
    </div>
    <div  onclick="location.href='/admin/member/membersList'" style="cursor: pointer">
        <img th:src="@{/images/common/admin/icon_user.svg}" alt="icon_adminUser" style="margin-top:30px; height: 40px; width: 40px">
        <p>회원 관리</p>
    </div>
    <div onclick="location.href='/admin/post'" style="cursor: pointer">
        <img th:src="@{/images/common/admin/icon_postBoard.svg}" alt="icon_adminPostBoard" style="margin-top:30px; height: 40px; width: 40px">
        <p>게시판 관리</p>
    </div>
    <div onclick="location.href='/admin/notice'" style="cursor: pointer" >
        <img th:src="@{/images/common/admin/icon_notice.svg}" alt="icon_adminNotice" style="margin-top:30px; height: 40px; width: 40px">
        <p>공지사항 관리</p>
    </div>
    <div onclick="location.href='/admin/magazine'" style="cursor: pointer">
        <img th:src="@{/images/common/admin/icon_magazine.svg}" alt="icon_adminMagazine" style="margin-top:30px; height: 40px; width: 40px">
        <p>매거진 관리</p>
    </div>
</div>