<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/admin/common.css}">
    <link rel="stylesheet" th:href="@{../../css/admin/adminPost.css}">

    <script>
        const successMessage = `[[${ successMessage }]]`;
        if (successMessage) {
            alert(successMessage);
        }
    </script>
</head>
<body>
<div th:replace="admin/header.html"></div>
<div class="sidebar_content">
<div th:replace="admin/sidebar.html"></div>
<article class="all-content">
<p class="contents_head">게시글 상세 정보</p>
<div th:each="post : ${ postDetail }">
    <div class="post_main_sub_category">
        <p class="post_main_text" th:if="${ post.mainCategory == '자유'}">예수다</p>
        <p class="post_main_text" th:if="${ post.mainCategory == '리뷰'}">예리뷰</p>
        <div class="main_sub_category">
            <p class="main_text" th:text="${ post.mainCategory}"></p>
            <p class="main_sub">|</p>
            <p class="sub_text" th:text="${ post.subCategory}"></p>
        </div>
    </div>
    <p class="title_text" th:text="${ post.postTitle}"></p>
    <p class="member_text" th:text="${ post.member.nickname }"></p>
    <p th:text="${ #dates.format(post.postDate, 'yyyy-MM-dd')}" class="number"></p>
    <hr class="up_line_context">
    <p class="context_text" th:text="${ post.postContext}"></p>
    <hr class="down_line_context">
    <!-- 삭제, 목록, 변경 버튼 div -->
    <div class="button_box">
        <!-- 삭제 버튼 -->
        <div id="root">
            <button type="button" id="deleteModal_open_btn">삭제</button>
        </div>
        <!-- 목록 버튼 -->
        <button onclick="location.href='/admin/post'" id="back_post_btn">목록</button>
        <!-- 상태 변경 버튼 -->
        <form action="/admin/post/update" method="post">
            <input type="hidden" th:value="${ post.postCode }" name="postCode">
                <button class="modify_btn" type="submit" th:if="${ post.verifiedStatus == '활성' || post.verifiedStatus == null}">
                    <input type="hidden" name="verifiedStatus" value="비활성">
                    비활성화</button>
            <button class="modify_btn" type="submit"  th:if="${ post.verifiedStatus == '비활성'}">
                <input type="hidden" name="verifiedStatus" value="활성">
                활성화</button>
        </form>
        <form action="/admin/post/review" method="post">
            <input type="hidden" th:value="${ post.postCode }" name="postCode">
                <span th:if="${ post.mainCategory == '리뷰'}">
                    <button class="review_btn" type="submit" th:if="${ post.reviewStatus == '승인'}">
                        <input type="hidden" name="reviewStatus" value="미승인">
                        미승인</button>
                    <button class="review_btn" type="submit" th:if="${ post.reviewStatus == '미승인'}">
                        <input type="hidden" name="reviewStatus" value="승인">
                        승인</button>
                </span>
        </form>
    </div>

    <!-- 삭제 모달창 -->
    <div id="deleteModal">
        <div class="deleteModal_content">
            <div class="deleteModal_icon_box">
                <img class="deleteModal_icon" th:src="@{/images/common/icon_group_modal_bang.svg}" alt="icon_group_modal_bang">
            </div>
            <p>게시글을 삭제하시겠습니까?</p>
            <form th:action="@{/admin/post/delete(id=${post.postCode})}" method="post">
                <div class="deleteModal_button_box">
                    <button type="submit" id="deleteModal_check_btn">확인</button>
                    <button type="button" id="deleteModal_close_btn">취소</button>
                </div>
            </form>
        </div>
        <div class="deleteModal_layer"></div>
    </div>
</div>
    <div th:replace="admin/footer.html"></div>
</article>
</div>
<script>
    document.getElementById("deleteModal_open_btn").onclick = function () {
        document.getElementById("deleteModal").style.display = "block";
    }

    document.getElementById("deleteModal_close_btn").onclick = function () {
        document.getElementById("deleteModal").style.display = "none";
    }

    document.getElementById("deleteModal_check_btn").onclick = function () {
        document.getElementById("deleteModal").style.display = "none";
    }
</script>
</body>
</html>