<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/admin/adminPost.css}">
</head>
<body>
<div th:replace="admin/layout.html"></div>
<article style="margin-top: -800px; margin-left: 160px">
<h1>게시글 상세 정보</h1>
<div th:each="post : ${ postDetail }">
    <div>
        <h3 th:if="${ post.mainCategory == '자유'}">예수다</h3>
        <h3 th:if="${ post.mainCategory == '리뷰'}">예피셜</h3>
        <h3 th:text="${ post.mainCategory}"></h3>
        <h3 th:text="${ post.subCategory}"></h3>
    </div>
    <h3 th:text="${ post.postTitle}"></h3>
    <h4 th:text="${ post.member.nickname }"></h4>
    <h4 th:text="${ #dates.format(post.postDate, 'yyyy.MM.dd')}"></h4>
    <p th:text="${ post.postContext}"></p>
    <!-- 삭제, 목록, 변경 버튼 div -->
    <div class="button_box">
        <!-- 삭제 버튼 -->
        <div id="root">
            <button type="button" id="deleteModal_open_btn">삭제</button>
        </div>
        <!-- 목록 버튼 -->
        <button onclick="location.href='/admin/post'" id="back_post_btn">목록</button>
        <!-- 상태 변경 버튼 -->
        <form action="/admin/post/update" method="post">
            <input type="hidden" th:value="${ post.postCode }" name="postCode">
            <span th:if="${ post.mainCategory == '자유'}">
                <button class="modify_btn" type="submit" th:if="${ post.verifiedStatus == 'Y' || post.verifiedStatus == null}">
                    <input type="hidden" name="verifiedStatus" value="N">
                    비활성화</button>
                <button class="modify_btn" type="submit"  th:if="${ post.verifiedStatus == 'N'}">
                    <input type="hidden" name="verifiedStatus" value="Y">
                    활성화</button>
            </span>
            <span th:if="${ post.mainCategory == '리뷰'}">
                <button class="modify_btn" type="submit" th:if="${ post.verifiedStatus == 'Y'}">
                    <input type="hidden" name="verifiedStatus" value="N">
                    미승인</button>
                <button class="modify_btn" type="submit" th:if="${ post.verifiedStatus == 'N'}">
                    <input type="hidden" name="verifiedStatus" value="Y">
                    승인</button>
            </span>
        </form>
    </div>

    <!-- 삭제 모달창 -->
    <div id="deleteModal">
        <div class="deleteModal_content">
            <div class="deleteModal_icon_box">
                <img class="deleteModal_icon" th:src="@{/images/common/icon_group_modal_bang.svg}" alt="icon_group_modal_bang">
            </div>
            <p>게시글을 삭제하시겠습니까?</p>
            <form th:action="@{/admin/post/delete(id=${post.postCode})}" method="post">
                <div class="deleteModal_button_box">
                    <button type="submit" id="deleteModal_check_btn">확인</button>
                    <button type="button" id="deleteModal_close_btn">취소</button>
                </div>
            </form>
        </div>
        <div class="deleteModal_layer"></div>
    </div>
</div>
</article>
<script>
    document.getElementById("deleteModal_open_btn").onclick = function () {
        document.getElementById("deleteModal").style.display = "block";
    }

    document.getElementById("deleteModal_close_btn").onclick = function () {
        document.getElementById("deleteModal").style.display = "none";
    }

    document.getElementById("deleteModal_check_btn").onclick = function () {
        document.getElementById("deleteModal").style.display = "none";
    }
</script>
</body>
</html>