<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../css/admin/common.css}">
    <script>
        const successMessage = `[[${ successMessage }]]`;
        if (successMessage) {
            alert(successMessage);
        }
    </script>
</head>
<body>
<div th:replace="admin/header.html"></div>
<div class="sidebar_content">
<div th:replace="admin/sidebar :: admin-sidebar"></div>
<!--<div th:replace="admin/sidebar.html"></div>-->
<article>
<h1>게시판 전체조회</h1>
    <form class="search_form">
        <div class="search_box">
            <input type="search" class="search_input" placeholder="검색어를 입력하세요">
            <span class="clear_btn"></span>
            <span class="search_btn"></span>
        </div>
    </form>
    <div class="table_box">
    <table>
    <tr>
        <th>번호</th>
        <th class="manage_th">게시판</th>
        <th class="manage_th">분류</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th class="manage_th">조회수</th>
        <th class="manage_th">상태</th>
        <th class="manage_th">비고</th>
        <th class="manage_th">관리</th>
    </tr>
    <tr th:each="post, i : ${ postList }">
        <td class="number" th:text="${i.index + 1}"></td>
        <td th:text="${ post.mainCategory }"></td>
        <td th:text="${ post.subCategory }"></td>
        <td>
            <a th:text="${post.postTitle}" th:href="@{/admin/post/detail(id=${post.postCode})}"></a>
        </td>
        <td th:text="${ post.member.nickname }"></td>
        <td class="number" th:text="${#dates.format(post.postDate, 'yyyy-MM-dd') }" ></td>
        <td th:text="${ post.viewCount }"></td>
        <td>
            <span th:if="${ post.verifiedStatus == '활성'}">활성화</span>
            <span th:if="${ post.verifiedStatus == '비활성'}">비활성화</span>
        </td>
        <td th:text="${ post.reviewStatus }"></td>
        <td>
            <button type="button" th:onclick="|location.href='@{/admin/post/detail(id=${post.postCode})}'|">상세</button>
        </td>
    </tr>
    </table>
    </div>
<div th:replace="admin/footer.html"></div>
</article>
</div>

<!--<th:block layout:fragment="script">-->
    <script>
        // 검색시 x버튼
        const clearBtn = document.querySelector(".clear_btn");
        clearBtn.addEventListener("click", (e) => { //x버튼 클릭시
            e.currentTarget.parentNode.querySelector(".search_input").value = null; // 입력된 검색어 내용 null로 변경
            clearBtn.classList.remove("active"); // x버튼 비활성화
        });

        // 검색시 입력 내용 실시간 감지 & x버튼 활성/비활성화
        const searchInput = document.querySelector(".search_input");
        searchInput.addEventListener("input", (e) => {
            if (e.currentTarget.value.length > 0) {// 검색어입력내용의 길이가 0보다 큰 경우
                clearBtn.classList.add("active"); // x버튼 활성화
            } else if (e.currentTarget.value.length <= 0) { // 검색어입력내용의 길이가 0보다 작거나 같은 경우
                clearBtn.classList.remove("active");// x버튼 비활성화
            }
        });

        // 페이지 로드 시 실행되는 함수
        window.onload = function() {
            // 저장된 메뉴 아이템의 상태를 확인하여 'active' 클래스 추가
            var activeMenuItem = sessionStorage.getItem('activeMenuItem');
            if (activeMenuItem) {
                var menuItems = document.querySelectorAll('.menu-item');
                menuItems.forEach(function(item) {
                    if (item.getAttribute('data-menu') === activeMenuItem) {
                        item.classList.add('active');
                    }
                });
            }
        }

        function highlightMenuItem(element, url) {
            // 모든 메뉴 아이템에서 'active' 클래스 제거
            var menuItems = document.querySelectorAll('.menu-item');
            menuItems.forEach(function(item) {
                item.classList.remove('active');
            });

            // 클릭한 메뉴 아이템에 'active' 클래스 추가
            element.classList.add('active');

            // 해당 URL로 이동
            window.location.href = url;

            // 클릭한 메뉴 아이템의 상태를 세션에 저장
            var activeMenuItem = element.getAttribute('data-menu');
            sessionStorage.setItem('activeMenuItem', activeMenuItem);
        }






        // const nonClick = document.querySelectorAll(".non-click");

        // function handleClick(event) {
        //     // div에서 모든 "click" 클래스 제거
        //     nonClick.forEach((e) => {
        //         e.classList.remove("click");
        //     });
        //     // 클릭한 div만 "click"클래스 추가
        //     event.target.classList.add("click");
        // }
        //
        // nonClick.forEach((e) => {
        //     e.addEventListener("click", handleClick);
        // });
    </script>
<!--</th:block>-->
</body>
</html>