<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{../css/default.css}"/>
    <script>
        const successMessage = `[[${ successMessage }]]`;
        if (successMessage) {
            alert(successMessage);
        }
    </script>
</head>
<body>
<!--    <div th:replace="/admin/layout.html"></div>-->
    <h1>게시판 관리</h1>
    <div>
        <input type="text">
        <button type="submit">검색</button>
    </div>
    <table align="center">
        <tr>
            <th>번호</th>
            <th>게시판</th>
            <th>분류</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>비고</th>
            <th>관리</th>
        </tr>
        <tr th:each="post, i : ${ postList }">
            <td th:text="${i.index + 1}"></td>
            <td th:text="${ post.mainCategory }"></td>
            <td th:text="${ post.subCategory }"></td>
            <td>
                <a th:text="${post.postTitle}" th:href="@{/admin/post/detail(id=${post.postCode})}"></a>
            </td>
            <td th:text="${ post.member.nickname}"></td>
            <td th:text="${#dates.format(post.postDate, 'yyyy.MM.dd') }" ></td>
            <td>
                <span th:if="${ post.verifiedStatus == 'Y' }">승인</span>
                <span th:if="${ post.verifiedStatus == 'N' }">미승인</span>
            </td>
            <td>
                <button type="button" th:onclick="|location.href='@{/admin/post/update(id=${post.postCode})}'|">수정</button>
<!--                <a th:href="@{/admin/post/delete(id=${post.postCode})}">삭제</a>-->
<!--                <button type="button" onclick="deletePost">삭제</button>-->
                <form th:action="@{/admin/post/delete(id=${post.postCode})}" method="post">
                    <button type="submit">삭제</button>
<!--                    <input type="hidden" th:value="${post.postCode}" name="postCode">-->
<!--                    <input type="submit" value="삭제">-->
                </form>
            </td>
        </tr>
    </table>
<button>버튼</button>

<!--<th:block layout:fragment="script">-->
<!--    <script>-->
<!--        /*<![CDATA[*/-->

<!--        // 게시글 삭제-->
<!--        function deletePost() {-->
<!--            const id = [[ ${post.postCode} ]];-->

<!--            if ( !confirm(postCode + '번 게시글을 삭제할까요?') ) {-->
<!--                return false;-->
<!--            }-->

<!--            const formHtml = `-->
<!--                    <form id="deleteForm" action="/admin/post" method="post">-->
<!--                        <input type="hidden" id="postCode" name="id" value="${id}" />-->
<!--                    </form>-->
<!--                `;-->
<!--            const doc = new DOMParser().parseFromString(formHtml, 'text/html');-->
<!--            const form = doc.body.firstChild;-->
<!--            document.body.append(form);-->
<!--            document.getElementById('deleteForm').submit();-->
<!--        }-->

<!--        /*]]>*/-->

<!--    </script>-->
<!--</th:block>-->
</body>
</html>