<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" href="../../css/default.css"/>
</head>
<body>
    <h1>게시글 수정</h1>
<!--    <form th:action="@{/admin/post/update/{id}(id=${postDetail.postCode})}" method="post">-->
    <form action="/admin/post/update" method="post">
        <div th:each="post : ${ postDetail }">
            <input type="hidden" th:value="${ post.postCode }" name="postCode">
            <h3 th:text="${ post.mainCategory }"></h3>
            <h3 th:text="${ post.subCategory}"></h3>
            <h5 th:text="${ #dates.format(post.postDate, 'yyy.MM.dd')}"></h5>
            <input th:value="${ post.postTitle }"
                      name="postTitle"
                      style="height: 30px; width: 1000px">
            <textarea th:text="${ post.postContext}"
                      name="postContext"
                      style="height: 400px; width: 1000px; margin-top: 10px">
            </textarea>
        </div>
        <button type="button" onclick="location.href='/admin/post'">취소</button>
        <input type="submit" value="수정완료">
    </form>

</body>
</html>