<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{css/default.css}"/>
    <link rel="stylesheet" th:href="@{css/admin/common.css}">
</head>
<body>
<div th:replace="admin/header.html"></div>
<div class="sidebar_content">
    <div th:replace="admin/sidebar.html"></div>
<!--    <div th:replace="admin/sidebar :: admin-sidebar"></div>-->
<article>
<!--    <h1 align="center">관리자 메인</h1>-->
    <p class="dashBoard_member_text">회원</p>
    <div class="dashBoard_box_first">
        <div class="dashBoard_item_first">
            <div class="main_content_box">
                <p class="content_header">방문자 수</p>
                <div class="content_text_box">
                    <div class="content_count_box">
                        <p>전체</p>
                        <p class="number">1,000</p>
                    </div>
                    <div class="content_count_box">
                        <p>오늘</p>
                        <p class="number">21</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="dashBoard_item_first">
            <div class="main_content_box">
                <p class="content_header">가입 회원 수</p>
                <div class="content_text_box">
                    <div class="content_count_box">
                        <p>전체</p>
                        <p class="number">200</p>
                    </div>
                    <div class="content_count_box">
                        <p>오늘</p>
                        <p class="number">2</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="dashBoard_item_first">
            <div class="main_content_box">
                <p class="content_header">게시물 수</p>
                <div class="content_text_box">
                    <div class="content_count_box">
                        <p>전체</p>
                        <p class="number">80</p>
                    </div>
                    <div class="content_count_box">
                        <p>오늘</p>
                        <p class="number">2</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="dashBoard_box_second">
        <div class="dashBoard_board_box">
            <p class="dashBoard_board_text">예리뷰</p>
            <div class="dashBoard_item_second">
                <div class="second_main_content_box">
                    <p class="content_header">리뷰게시판</p>
                    <div class="content_text_box">
                        <div class="content_count_box">
                            <p>전체</p>
                            <p class="number">20</p>
                        </div>
                        <div class="content_count_box">
                            <p>오늘</p>
                            <p class="number">1</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="dashBoard_board_box">
            <p class="dashBoard_board_text">예수다</p>
            <div class="dashBoard_item_second">
                <div class="second_main_content_box">
                    <p class="content_header">자유게시판</p>
                    <div class="content_text_box">
                        <div class="free_count_box" id="yesin_count_box">
                            <div class="free_content_count_box">
                                <p>예신</p>
                                <p class="number">40</p>
                            </div>
                            <div class="free_content_count_box" id="yesin_margin">
                                <p>신규</p>
                                <p class="number">4</p>
                            </div>
                        </div>
                        <div  class="free_count_box">
                            <div class="free_content_count_box" id="yerang_margin">
                                <p>예랑</p>
                                <p class="number">40</p>
                            </div>
                            <div class="free_content_count_box">
                                <p>신규</p>
                                <p class="number">0</p>
                            </div>
                        </div>
                    </div>
                    <hr id="free_line">
                </div>
            </div>
        </div>
        <div class="dashBoard_board_box"></div>
    </div>
    <div class="dashBoard_box_third">
        <div class="dashBoard_table_area">
            <p class="dashBoard_board_text">최신 공지사항</p>
            <div class="dashBoard_table_box">
                <table class="dashBoard_table">
                    <tr class="dashBoard_tr">
                        <th class="dashBoard_th">no</th>
                        <th class="dashBoard_th">제목</th>
                        <th class="dashBoard_th">작성일</th>
                        <th class="dashBoard_th">조회수</th>
                    </tr>
                    <tr class="dashBoard_tr" >
                        <td class="dashBoard_td" ></td>
                        <td class="dashBoard_td" ></td>
                        <td class="dashBoard_td" ></td>
                        <td class="dashBoard_td" ></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="dashBoard_table_area">
            <p class="dashBoard_board_text">최신 매거진</p>
            <div class="dashBoard_table_box">
                <table class="dashBoard_table">
                    <tr class="dashBoard_tr">
                        <th class="dashBoard_th">no</th>
                        <th class="dashBoard_th">매거진</th>
                        <th class="dashBoard_th">작성일</th>
                        <th class="dashBoard_th">조회수</th>
                    </tr>
                    <tr class="dashBoard_tr">
                        <td class="dashBoard_td">37</td>
                        <td class="dashBoard_td">홈페이지 가이드라인 신규 회원 필독!!!</td>
                        <td class="dashBoard_td"></td>
                        <td class="dashBoard_td"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="admin/footer.html"></div>
</article>
</div>
</body>
</html>