<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
</head>
<body>
<div th:replace="admin/layout.html"></div>
<article style="margin-top: -800px; margin-left: 160px">
<h1>공지사항 상세 정보</h1>
<div th:each="notice : ${ noticeDetail }">
    <div>
        <h3 th:text="${ notice.mainCategory }"></h3>
        <h4 th:text="${ notice.subCategory }"></h4>
    </div>
    <h2 th:text="${ notice.postTitle }"></h2>
    <h3 th:text="${ notice.member.nickname }"></h3>
    <h4 th:text="${ #dates.format(notice.postDate, 'yyyy-MM-dd') }"></h4>
    <p th:text="${ notice.postContext }"></p>
    <button onclick="location.href='/admin/notice'">목록</button>
    <button type="button" th:onclick="|location.href='@{/admin/notice/update(id=${notice.postCode})}'|">수정</button>
    <form th:action="@{/admin/notice/delete(id=${notice.postCode})}" method="post">
        <button type="submit">삭제</button>
    </form>
</div>
</article>
</body>
</html>