<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/admin/common.css}">
</head>
<body>
<div th:replace="admin/header.html"></div>
<div class="sidebar_content">
<div th:replace="admin/sidebar.html"></div>
<article class="all-content">
<h1>공지사항 등록</h1>
<form action="/admin/notice/regist" method="post">
    <div>
        <input type="text" name="postTitle"
               placeholder="제목을 입력하세요."
               style="height: 30px; width: 800px">
        <select name="subCategory">
            <option value="점검">점검</option>
            <option value="공지">공지</option>
            <option value="이벤트">이벤트</option>
            <option value="업데이트">업데이트</option>
        </select>
    </div>
    <div>
            <textarea name="postContext" placeholder="내용을 입력하세요."
                      style="height: 400px; width: 1000px; margin-top: 10px"></textarea>
    </div>
    <div>
        <!--            <button type="reset">취소</button>-->
        <button type="button" onclick="location.href='/admin/notice'">취소</button>
        <button type="submit">등록</button>
    </div>
</form>
    <div th:replace="admin/footer.html"></div>
</article>
</div>
</body>
</html>