<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/admin/common.css}">
    <link rel="stylesheet" th:href="@{../../css/admin/adminPost.css}">
</head>
<body>
<div th:replace="admin/header.html"></div>
<div class="sidebar_content">
    <div th:replace="admin/sidebar.html"></div>
    <article class="all-content">
<h1>공지사항 수정</h1>
<form action="/admin/notice/update" method="post">
    <div th:each="notice : ${ noticeDetail }">
    <input type="hidden" name="postCode" th:value="${notice.postCode}">
        <div class="subCategory_select_box">
            <button type="button" class="label"><span th:text="${ notice.subCategory }"></span></button>
            <span class="iconArrow"><img th:src="@{../../images/common/icon_arrow_right_colored.svg}" alt="icon_arrow_right_colored"></span>
            <input type="hidden" class="subCategory" name="subCategory">
            <ul class="optionList">
                <li class="optionItem">점검</li>
                <li class="optionItem">공지</li>
                <li class="optionItem">이벤트</li>
                <li class="optionItem">업데이트</li>
            </ul>
        </div>
        <input class="input_title" type="text" name="postTitle" th:value="${ notice.postTitle }">
        <textarea class="input_context" th:utext="${ notice.postContext }" name="postContext"></textarea>
    </div>
    <div class="button_box" id="regist_button_box">
        <button class="cancel_btn" type="button" onclick="history.back()">취소</button>
        <button type="submit">등록</button>
    </div>

    <!-- 취소 모달창 -->
    <div id="cancelModal" class="modal">
        <div class="deleteModal_content">
            <div class="deleteModal_icon_box">
                <img class="deleteModal_icon" th:src="@{/images/common/icon_group_modal_bang.svg}" alt="icon_group_modal_bang">
            </div>
            <div class="cancel_modal_text">
                <p>변경 된 내용이 전부 삭제 됩니다. 공지사항 수정을 취소 하겠습니까?</p>
            </div>
            <div class="deleteModal_button_box">
                <button type="button" id="cancelModal_check_btn" onclick="history.back()">확인</button>
                <button type="button" id="cancelModal_close_btn" class="modal_close_btn">취소</button>
            </div>
        </div>
        <div class="deleteModal_layer"></div>
    </div>
</form>
    <div th:replace="admin/footer.html"></div>
</article>
</div>
<script>
    const label = document.querySelector('.label');
    const options = document.querySelectorAll('.optionItem');
    const subCategory = document.querySelector('.subCategory');

    // 클릭한 옵션의 텍스트를 라벨 안에 넣음
    const handleSelect = (item) => {
        // console.log(item.textContent);
        // console.log(label.textContent);
        label.parentNode.classList.remove('active');
        label.textContent = item.textContent;
        subCategory.value = item.textContent;   // input value에 텍스트를 넣음
        // console.log(subCategory.value);
    }
    // 옵션 클릭시 클릭한 옵션을 넘김
    options.forEach(option => {
        option.addEventListener('click', () => handleSelect(option))
    })

    // 라벨을 클릭시 옵션 목록이 열림/닫힘
    label.addEventListener('click', () => {
        if(label.parentNode.classList.contains('active')) {
            label.parentNode.classList.remove('active');
        } else {
            label.parentNode.classList.add('active');
        }
    })

    // 취소 모달
    document.getElementById("cancelModal_open_btn").onclick = function () {
        document.getElementById("cancelModal").style.display = "block";
    }

    document.getElementById("cancelModal_close_btn").onclick = function () {
        document.getElementById("cancelModal").style.display = "none";
    }

    document.getElementById("cancelModal_check_btn").onclick = function () {
        document.getElementById("cancelModal").style.display = "none";
    }
</script>
</body>
</html>