<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/admin/common.css}">
</head>
<body>
<div th:replace="admin/header.html"></div>
<div class="sidebar_content">
    <div th:replace="admin/sidebar.html"></div>
    <article class="all-content">
<h1>공지사항 수정</h1>
<form action="/admin/notice/update" method="post">
    <div th:each="notice : ${ noticeDetail }">
        <input type="hidden" th:value="${ notice.postCode }" name="postCode">
        <input type="text" th:value="${ notice.postTitle }"
               name="postTitle" style="height: 30px; width: 900px">
        <select name="subCategory">
            <option value="점검">점검</option>
            <option value="공지">공지</option>
            <option value="이벤트">이벤트</option>
            <option value="업데이트">업데이트</option>
        </select>
        <textarea th:text="${ notice.postContext }"
                  name="postContext"
                  style="height: 400px; width: 1000px; margin-top: 10px">
            </textarea>
    </div>
    <button type="button" onclick="history.back()">취소</button>
    <button type="submit">완료</button>
</form>
    <div th:replace="admin/footer.html"></div>
</article>
</div>
</body>
</html>