<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <title>Title</title>
    <script>
    </script>
</head>
<body>
    <h1>회원가입</h1>
    <img th:src="@{/images/common/logo.svg}" alt="">
    <hr>
    <textarea name="terms">대충 약관</textarea>
    <input type="checkbox" name="agree" value="agree">동의하시겠습니까?
    <hr>
    <form th:action="@{/signup}" method="post">
        *아이디 <input type="text" name="memberId" placeholder="아이디를 입력해주세요"><button type="submit">중복확인</button><br>
    </form>
    <form>
        *비밀번호 <input type="password" name="memberPw" placeholder="비밀번호를 입력해주세요"><br>
        *닉네임 <input type="text" name="nickname"><br>
    </form>
    <form th:action="@{/mail}" method="post">
        <input name="address" placeholder="이메일 주소">이메일<br>
        <input name="title" placeholder="제목"> <br>
        <textarea name="message" placeholder="메일 내용을 입력해주세요." cols="60" rows="20"></textarea>
        <button>발송</button>
    </form>
    <p>test</p>

</body>
</html>