<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예신예랑 회원가입</title>
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/user/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!--HEADER-->
    <div th:replace="user/layout/header.html"></div>
    <!--/HEADER-->
    <div style="padding-top: 50px; padding-bottom: 20px; text-align: center">
        <h2 style="font-size: 24px">회원가입</h2>
    </div>
    <div class="terms_body">
        <h3 style="padding-bottom: 10px; padding-left: 10px">회원가입 약관 동의 <span style="font-size: smaller; color: #FA3E3E">(필수)</span></h3>
        <textarea class="terms_box" name="terms" readonly>대충 약관</textarea>
        <div style="padding-top: 10px; padding-left: 10px">
            <label class="check_box" for="agree">
                <input class="check_input" type="checkbox" name="agree" id="agree">
                <span class="check_mark"></span>
                &nbsp;&nbsp;약관 내용에 동의합니다.
            </label>
        </div>
        <div style="width: 800px; padding-top: 30px; text-align: center">
            <h5 style="text-align: end; padding-right: 10px; padding-bottom: 5px"><span style="color: red; padding-right: 5px">*</span>필수 입력 사항</h5>
            <hr style="border-top: 1px; border-color: #A7A8C9">
        </div>
    </div>
    <div class="signup_body">
        <div class="item_box">
            <span style="color: #FA3E3E">*</span>
            <h4 style="padding-right: 85px; display: inline-block">아이디</h4>
            <input class="input_item" type="text" name="memberId" id="memberId" placeholder="아이디를 입력해 주세요">
            <div style="padding-left: 20px; display: inline-block; float: right">
                <button class="btn_item" type="button" id="checkId">중복확인</button>
            </div>
            <div class="message_box">
                <span id="idTxt"></span>
            </div>
        </div>
        <div class="password_box">
            <span style="color: #FA3E3E">*</span>
            <h4 style="padding-right: 70px; display: inline-block">비밀번호</h4>
            <input class="input_item" type="password" name="password" id="password" placeholder="비밀번호를 입력해 주세요"/>
            <span class="show_pw_btn"><img th:src="@{/images/common/icons_show.png}" alt="popup icon image"></span>
            <div class="message_box">
                <span id="pwdTxt" style="font-weight:bold; font-size: 10px; color : #6667AB">* 영문,숫자,특수문자 조합 8자 이상 입력해 주세요</span>
            </div>
        </div>
        <div class="password_box">
            <span style="color: #FA3E3E">*</span>
            <h4 style="padding-right: 37px; display: inline-block">비밀번호 확인</h4>
            <input class="input_item" type="password" name="checkPw" id="checkPw" placeholder="비밀번호를 한번 더 입력해 주세요"/>
            <span class="show_pw_btn"><img th:src="@{/images/common/icons_show.png}" alt="popup icon image"></span>
            <div class="message_box" style="padding-left: 145px">
                <span id="pwdCheckTxt" style="font-weight:bold; font-size: 10px; color : #6667AB">* 비밀번호를 한번 더 입력해 주세요</span>
            </div>
        </div>
        <div class="item_box">
            <span style="color: #FA3E3E">*</span>
            <h4 style="padding-right: 85px; display: inline-block">닉네임</h4>
            <input class="input_item" type="text" name="nickname" id="nickname" placeholder="닉네임을 입력해 주세요"/>
            <div style="padding-left: 20px; display: inline-block; float: right">
                <button class="btn_item" type="button" id="checkNkname">중복확인</button>
            </div>
            <div class="message_box">
                <span id="nicknameTxt"></span>
            </div>
        </div>
        <div style="padding-bottom: 50px">
            <span style="color: #FA3E3E">*</span>
            <h4 style="padding-right: 85px; display: inline-block">이메일</h4>
            <input class="input_item" type="email" name="memail" id="memail" placeholder="이메일을 입력해 주세요">
            <div style="padding-left: 20px; display: inline-block; float: right">
                <button class="btn_item" type="button" id="checkEmail">인증번호</button>
            </div>
        </div>
        <div class="item_box">
            <span style="color: #FA3E3E">*</span>
            <h4 style="padding-right: 70px; display: inline-block">인증번호</h4>
            <input class="input_item" type="text" id="memailconfirm" placeholder="인증번호를 입력해 주세요">
            <div class="message_box">
                <span id="memailconfirmTxt"></span>
            </div>
        </div>
        <div style="padding-bottom: 47px">
            <h4 style="padding-left: 12px; padding-right: 69px; display: inline-block">전화번호</h4>
            <input class="input_item" type="text" id="phone" placeholder="전화번호를 입력해 주세요">
            <div class="message_box">
                <span id="phoneTxt"></span>
            </div>
        </div>
        <div style="padding-bottom: 64.6px; display:flex; align-items: center">
            <span style="color: #FA3E3E">*</span>
            <h4 style="padding-right: 110px; display: inline-block">성별</h4>
            <label class="check_box" for="male" style="padding-right: 20px">
                <input class="check_input" type="checkbox" name="gender" id="male" value="남성">
                <span class="check_mark"></span>
                &nbsp;&nbsp;남성
            </label>
            <label class="check_box" for="female">
                <input class="check_input" type="checkbox" name="gender" id="female" value="여성">
                <span class="check_mark"></span>
                &nbsp;&nbsp;여성
            </label>
        </div>
        <div style="padding-bottom: 63.6px; display:flex; align-items: center">
            <h4 style="padding-left: 12px; padding-right: 72px; display: inline-block">결혼 여부</h4>
            <label class="check_box" for="married" style="padding-right: 20px">
                <input class="check_input" type="checkbox" name="verifyMarried" id="married" value="기혼">
                <span class="check_mark"></span>
                &nbsp;&nbsp;기혼
            </label>
            <label class="check_box" for="single">
                <input class="check_input" type="checkbox" name="verifyMarried" id="single" value="미혼">
                <span class="check_mark"></span>
                &nbsp;&nbsp;미혼
            </label>
        </div>
        <div class="item_box">
            <h4 style="padding-left: 12px; padding-right: 33px; display: inline-block">웨딩홀 인증</h4>
            <div class="file_box">
                <input class="input_item" id="fileName" value="첨부파일" style="color: #A7A8C9" readonly>
                <div style="padding-left: 30px; display: inline-block; float: right">
                    <label for="verifyFile">업로드</label>
                </div>
                <input type="file" id="verifyFile" accept="image/jpeg, image/png, image/jpg, image/gif, image/webg">
            </div>
            <div style="padding-top: 5px; padding-left: 145px;">
                <h6 style="font-weight:bold; font-size: 10px; color: #6667AB">
                    * 파일 업로드 PNG/JPG/JPEG/GIF/WEBG 확장자 파일만 가능<br>
                    * 업로드 최대 용량은 10MB
                </h6>
            </div>
        </div>
    </div>
    <div style="padding-bottom: 60px; text-align: center;">
        <button class="btn_item" type="button" id="join" style="width: 476px;">가입하기</button>
    </div>

    <!--FOOTER-->
    <div th:replace="user/layout/footer.html"></div>
    <!--/FOOTER-->

    <script src="/js/signup.js"></script>
    <script>
        //header sub menu 활성화
        const gnbMenu = document.querySelectorAll('.header_gnb > li > a');
        const subMenu = document.querySelectorAll('.sub_menu');
        gnbMenu.forEach(gnbmenu => {
            gnbmenu.addEventListener('mouseover', (e) => {
                e.currentTarget.nextElementSibling.classList.add("active");
            })
            gnbmenu.addEventListener('mouseout', (e) => {
                e.currentTarget.nextElementSibling.classList.remove("active");
            })
        });

        subMenu.forEach(submenu => {
            submenu.addEventListener('mouseover', (e) => {
                e.currentTarget.classList.add("active");
            })
            submenu.addEventListener('mouseout', (e) => {
                e.currentTarget.classList.remove("active");
            })
        });

        $(".show_pw_btn").click((e) => {
            console.log("target : " + e.target);
            if($(e.target).closest("span.show_pw_btn").hasClass("active")){ // 이미 활성화된 상태라면
                $(e.target).closest("span.show_pw_btn").removeClass("active"); // 활성화 클래스 제거
                $(e.target).attr("src","/images/common/icons_show.png"); // show 아이콘 이미지로 변경
                $(e.target).closest("span.show_pw_btn").siblings("input").attr("type", "password");// input 타입 password로 변경
            }else{ // 비활성화된 상태라면
                $(e.target).closest("span.show_pw_btn").addClass("active"); // 활성화 클래스 추가
                $(e.target).attr("src","/images/common/icon_hide.png"); // hide 아이콘 이미지로 변경
                $(e.target).closest("span.show_pw_btn").siblings("input").attr("type", "text"); // input 타입 text로 변경
            }
        })
    </script>
</body>
</html>
