/* search input */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

.eng {
    font-family: 'Poppins';
}

.free_title {
    font-weight: var(--bold);
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
}

article {
    width: 100%;
    padding: 60px 20px 60px;
    max-width: 1000px;
}

.content {
    display: flex;
    justify-content: center;
}

.notice_title {
    font-weight: var(--bold);
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.search_form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.search_box {
    align-items: center;
    position: relative;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.search_input {
    position: absolute;
    height: 40px;
    padding: 0 105px 0 10px;
    border-radius: 12px;
    border: none;
    background-color: var(--hashBg-color);
}

.search_input::placeholder {
    color: var(--main-color);
}

.clear_btn {
    position: absolute;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    right: 40px;
    background: center / contain no-repeat
    url("../../../images/common/icons_delete.svg");
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms ease-in-out, z-index 200ms ease-in-out;
}

.clear_btn.active {
    opacity: 1;
    z-index: 1;
}

.search_btn {
    position: absolute;
    margin-top: 8px;
    display: block;
    width: 24px;
    height: 24px;
    right: 10px;
    background: center / contain no-repeat
    url("../../../images/common/icon_search.svg");
    cursor: pointer;
}

.free_list {
    width: 100%;
    border-collapse: collapse;
}

.free_list tbody tr {
    transition: background-color 200ms ease-in-out;
    cursor: pointer;
}

.free_list tbody tr:hover {
    background-color: var(--hashBg-color);
}

.free_list thead th {
    padding:8px 0;
    border: 1px solid var(--text-color);
    border-left: none;
    border-right: none;
    background-color: var(--main-color);
    color: #fff;
    font-size: 16px;
    font-weight: var(--semiBold);
}

.free_list tbody td {
    padding:8px 0;
    font-size: 16px;
    font-weight: var(--medium);
    border-bottom: 1px solid var(--text-color);
    text-align: center;
}

.regist_button{
    width: 100px;
    height: 50px;
    background-color: var(--inactive-input-bg);
    margin-top: 24px;
    float: right;
}

/* --------------- 자유게시판 상세페이지 ---------------*/

.free_list_content{
    display: flex;
    justify-content: center;
}

.category_data{
    margin-bottom: 40px;
}

.mainCategory{
    font-size: 20px;
    font-weight: var(--semiBold);
    color: var(--inactive-text);
    display: inline;
}

.category_line {
    color: var(--inactive-text);
    display: inline;
}

.subCategory {
    color: var(--inactive-text);
    display: inline-block;
}

.free_detail_title {
    color: var(--text-color);
    font-size: 24px;
    font-weight: var(--medium);
    margin-bottom: 40px;
}

.free_nickname_date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.free_nickname{
    color: var(--text-color);
    font-size: 16px;
    font-weight: var(--bold);
    display: inline;
}

.free_date {
    color: var(--inactive-text);
    display: inline-block;
}

.free_content {
    color: var(--text-color);
    min-height: 600px;
    margin: 12px 8px 12px 8px;
}

.content_line{
    color: var(--inactive-input-bg);
}

/* --------------- 자유게시판 상세페이지 댓글 ---------------*/

.comment {
    color: var(--text-color);
    font-size: 20px;
    font-weight: var(--semiBold);
    margin-bottom: 50px;
}

.form-control{
    width: 1000px;
}

.detail_buttons {
    display: flex;
    float: right;
}

.detail_button {
    width: 100px;
    height: 50px;
    background-color: var(--inactive-input-bg);
    margin: 12px 8px 40px;
}

.detail_delete_button {
    width: 100px;
    height: 50px;
    background-color: var(--inactive-input-bg);
    margin-top: 12px;
    margin-bottom: 60px;
}

.detail_button:hover{
    background-color: var(--point-color);
    transition: background-color 200ms ease-in-out;
}

/* --------------- 자유게시판 수정페이지 ---------------*/

.free_modify {
    font-size: 24px;
    font-weight: var(--bold);
    color: var(--text-color);
    margin-bottom: 50px;
}

.modify_title {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: var(--semiBold);
    border-radius: 12px;
    padding-left: 17px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    border: 1px solid var(--input-color);
    border-radius: 12px;
    transition: border-color 200ms ease-in-out;
}

.modify_content {
    width: 100%;
    height: 500px;
    font-size: 12px;
    font-weight: var(--medium);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 17px 17px 17px 17px;
}