/* ----------- 매거진 페이지 ----------- */

.eng {
    font-family: 'Poppins';
}

.magazine_tit {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
}

.search_form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.search_box {
    align-items: center;
    position: relative;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.search_input {
    position: absolute;
    height: 40px;
    padding: 0 105px 0 10px;
    border-radius: 12px;
    border: none;
    background-color: var(--hashBg-color);
}

.search_input::placeholder {
    color: var(--main-color);
}

.clear_btn {
    position: absolute;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    right: 40px;
    background: center / contain no-repeat
    url("../../../images/common/icons_delete.svg");
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms ease-in-out, z-index 200ms ease-in-out;
}

.clear_btn.active {
    opacity: 1;
    z-index: 1;
}

.search_btn {
    position: absolute;
    margin-top: 8px;
    display: block;
    width: 24px;
    height: 24px;
    right: 10px;
    background: center / contain no-repeat
    url("../../../images/common/icon_search.svg");
    cursor: pointer;
}

.magazine_box {
    border-color: var(--main-color);
    border: 1px;

}
.magazine_list_context {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

/* ----------- 매거진 상세페이지 ----------- */

.magazine_category{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.magazine_mainCategory {
    font-size: 20px;
    font-weight: var(--semiBold);
    color: var(--inactive-text);
    display: inline;
}

.category_line {
    color: var(--inactive-text);
    display: inline;
    margin: 0 10px;
}

.magazine_subCategory {
    color: var(--inactive-text);
    display: inline-block;
}

/* 공지사항 내용 */

.content {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 202px);
}

article {
    width: 100%;
    padding: 60px 20px 60px;
    max-width: 1200px;
}

.magazine_detail_title{
    color: var(--text-color);
    font-size: 24px;
    font-weight: var(--medium);
    margin-bottom: 40px;
}

.magazine_nickname {
    color: var(--text-color);
    font-size: 16px;
    font-weight: var(--bold);
    display: inline;
    margin-bottom: 24px;
}

.magazine_date {
    color: var(--inactive-text);
    display: inline-block;
}

.content_data{
    display: flex;
    justify-content: space-between;
}

.content_line{
    color: var(--inactive-input-bg);
    margin-bottom: 10px;
}

.context {
    color: var(--text-color);
    min-height: 600px;
    margin: 12px 8px 12px 8px;
}

.back_button {
     width: 100px;
     height: 50px;
     background-color: var(--inactive-input-bg);
     margin-top: 12px;
     margin-bottom: 60px;
     float: right;
 }