<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>beanions</title>
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/admin/common.css}">
    <link rel="stylesheet" th:href="@{../../css/admin/membersCss.css}">

</head>
<body>
<div th:replace="admin/header.html"></div>
<div class="sidebar_content">
    <div th:replace="admin/sidebar.html"></div>
    <article class="all-content">
        <p class="title_text_font">회원 상세 정보</p>
        <div class="font_div">
            <p class="memberBox">게시글 수</p>
            <p class="memberBox2">댓글 수</p>
        </div>
        <p class="title_text_font2" style="margin-right: 20px">회원 상세 정보 수정</p>
        <form action="/admin/member/update" method="post">
            <div th:each="members: ${ memberModify }">
                <input type="hidden" th:value="${ members.memberCode}" name="memberCode">
                <div class="text_font">
                    <div  class="member_line">
                        <label class="label_interval_line">아이디</label>
                            <input class="member_Box" type="text" name="memberId" th:value="${ members.memberId }"
                                   readonly="readonly">
                        <label class="label_interval_line">닉네임</label>
                            <input class="member_nickname_box" type="text" id="nickname" name="nickname" th:value="${ members.nickname }">
                    </div>
                    <div class="member_line">
                        <label class="label_no_interval_line">성별</label>
                        <p class="gender_line2" th:text="${ members.gender }">
                    </div>
                    <div class="member_line">
                        <label class="label_interval_line">이메일</label>
                            <input class="member_Box" type="text" name="email" th:value="${ members.email }" readonly="readonly">
                        <label class="label_interval_line">전화번호 </label>
                            <input class="member_Box" type="text" name="phone" th:value="${ members.phone }" readonly="readonly">
                    </div>
                    <div class="member_line">
                        <label class="label_no_interval_line">기혼 여부</label>
                        <p class="gender_line2" th:text="${ members.marriedStatus }"></p>
                    </div>
                    <div>
                        <label class="label_interval_line">웨딩홀 인증</label>
                        <input class="member_nickname_box" type="text" name="weddingVerified"
                               th:value="${ members.weddingVerified }" readonly="readonly">
                    </div>
                </div>
                <div class="button_box">
                    <div class="button_up_line">
                        <button type="submit" class="button">수정</button>
                        <button type="button"
                            th:onclick="|location.href='@{/admin/member/membersDetail(id=${members.memberCode})}'|">취소
                        </button>
                    </div>
                </div>
                <div class="button_box">
                    <div id="root">
                        <button type="button" id="deleteModal_open_btn">계정 삭제</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- 삭제 모달창 -->
        <div id="deleteModal">
            <div class="deleteModal_content">
                <div class="deleteModal_icon_box">
                    <img class="deleteModal_icon" th:src="@{/images/common/icon_group_modal_bang.svg}"
                         alt="icon_group_modal_bang">
                </div>
                <p>계정을 삭제하시겠습니까?</p>
                <div th:each="members: ${ memberModify }">
                    <form th:action="@{/admin/member/delete(id=${members.memberCode})}" method="post">
                        <div class="deleteModal_button_box">
                            <button type="submit" id="deleteModal_check_btn">확인</button>
                            <button type="button" id="deleteModal_close_btn">취소</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="deleteModal_layer"></div>
        </div>
        <div th:replace="admin/footer.html"></div>
    </article>
</div>
<script>
    document.getElementById("deleteModal_open_btn").onclick = function () {
        document.getElementById("deleteModal").style.display = "block";
    }

    document.getElementById("deleteModal_close_btn").onclick = function () {
        document.getElementById("deleteModal").style.display = "none";
    }

    document.getElementById("deleteModal_check_btn").onclick = function () {
        document.getElementById("deleteModal").style.display = "none";
    }
</script>
</body>
</html>