<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/user/common.css}">
    <link rel="stylesheet" th:href="@{/css/error/error.css}">
    <title>YESINYERANG</title>
</head>
<body>
<div class="wrapper">
    <div class="login_cont">
        <div class="left_side">
            <img th:src="@{/images/common/logo.svg}" alt="YESINYERANG logo">
            <p class="logo_tit">예랑예신</p>
            <a href="/main" class="go_to_main">홈으로</a>
        </div>
        <div class="login_box">
            <p class="box_error">404</p>
            <p class="box_tit">찾을 수 없는 페이지입니다.</p>
            <p class="box_context">존재하지 않는 주소를 입력하셨거나</p>
            <p class="box_context">요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다.</p>
        </div>
    </div>
</div>
</body>
</html>