<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/user/common.css}">
    <link rel="stylesheet" th:href="@{/css/error/error.css}">
    <title>YESINYERANG</title>
</head>
<body>
<div class="wrapper">
    <div class="login_cont">
        <div class="left_side">
            <img th:src="@{/images/common/logo.svg}" alt="YESINYERANG logo">
            <p class="logo_tit">예랑예신</p>
            <a href="/main" class="go_to_main">홈으로</a>
        </div>
        <div class="login_box">
            <p class="box_error">500</p>
            <p class="box_context">지금 이 서비스와 연결할 수 없습니다.</p>
            <p class="box_context">문제를 해결하기 위해 열심히 노력하고 있습니다.</p>
            <p class="box_context">잠시 후 다시 확인해주세요.</p>
        </div>
    </div>
</div>
</body>
</html>