<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beanions.mypage.dao.UploadMapper">
    <resultMap id="postResultMap" type="com.beanions.common.dto.PostDTO">
        <id property="postCode" column="POST_CODE"/>
        <result property="memberCode" column="MEMBER_CODE"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="postContext" column="POST_CONTEXT"/>
        <result property="postDate" column="POST_DATE"/>
        <result property="mainCategory" column="MAIN_CATEGORY"/>
        <result property="subCategory" column="SUB_CATEGORY"/>
        <result property="verifiedStatus" column="VEF_STATUS"/>
    </resultMap>
    <resultMap id="uploadFilesResultMap" type="com.beanions.common.dto.FilesDTO">
        <id property="fileCode" column="FILE_CODE"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="postCode" column="POST_CODE"/>
    </resultMap>
    <insert id="registWriting" parameterType="com.beanions.common.dto.FilesDTO">
        INSERT INTO FILES
        (
        FILE_CODE
        , FILE_NAME
        , POST_CODE
        )
        VALUES
        (
        NULL
        , #{fileName}
        , #{postCode}
        )
    </insert>
    <select id="selectAllFiles" resultMap="uploadFilesResultMap">
        SELECT
            FILE_CODE
            , FILE_NAME
            , POST_CODE
        FROM FILES
    </select>
</mapper>