<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/user/common.css}">
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
  <link rel="shortcut icon" th:href="@{/images/common/logo_png.png}" sizes="60x60">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
  <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
  <title>예랑예신</title>
</head>
<body>
<div class="wrapper">
  <!-- HEADER -->
  <div th:replace="user/layout/header.html"></div>
  <!-- //HEADER -->

  <div class="about_cont">

    <div class="about_banner">
      <div class="about_logo">
        <img th:src="@{/images/common/logo.svg}" alt="logo">
      </div>
      <ul class="ball_bg">
        <li><img th:src="@{/images/main/bg01.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg02.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg03.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg04.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg05.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg06.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg07.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg08.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg09.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg10.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg11.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg12.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg13.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg14.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg15.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg16.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg17.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg18.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg19.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg20.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg21.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg22.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg23.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg24.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg25.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg26.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg27.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg28.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg29.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg30.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg31.png}" alt="about banner"></li>
      </ul>
    </div>
    <!-- // about banner -->

    <!-- about context -->
    <div class="about_txt_box">
      <p>결혼에 대한 우리 모두의 이야기</p>
      <p>예신예랑에서 나눠주세요.</p>
    </div>

    <div class="about_bottom_logo">
      <img src="./images/common/logo.svg" alt="logo">
    </div>
  </div>

  <!-- FOOTER -->
  <div th:replace="user/layout/footer.html"></div>
  <!-- //FOOTER -->
  <!-- TOP BUTTON -->
  <span class="top_btn eng">TOP</span>
</div>
<script th:src="@{/js/common.js}"></script>
</body>
</html>