<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/user/common.css}">
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
  <link rel="shortcut icon" th:href="@{/images/common/logo_png.png}" sizes="60x60">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
  <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
  <title>예랑예신</title>
</head>
<body>
<div class="wrapper">
  <!-- HEADER -->
  <div th:replace="user/layout/header.html"></div>
  <!-- //HEADER -->

  <div class="about_cont">

    <div class="about_banner">
      <div class="about_logo">
        <img th:src="@{/images/common/logo.svg}" alt="logo">
      </div>
      <ul class="ball_bg">
        <li><img th:src="@{/images/main/bg01.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg02.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg03.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg04.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg05.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg06.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg07.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg08.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg09.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg10.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg11.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg12.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg13.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg14.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg15.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg16.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg17.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg18.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg19.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg20.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg21.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg22.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg23.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg24.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg25.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg26.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg27.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg28.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg29.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg30.png}" alt="about banner"></li>
        <li><img th:src="@{/images/main/bg31.png}" alt="about banner"></li>
      </ul>
    </div>
    <!-- // about banner -->

    <!-- about context -->
    <div class="about_txt_box">
      <p style="padding-top:60px; padding-bottom: 20px; font-size:18px; font-weight: var(--semiBold);">결혼에 대한 우리 모두의 이야기</p>
      <p style="padding-bottom: 60px; font-size:20px; font-weight: var(--semiBold);">예랑예신에서 나눠주세요.</p>
      <p style="padding-bottom: 10px; font-size:16px; ">예랑예신은 결혼을 준비하는 예비 신랑신부들을 위한 종합 웨딩 커뮤니티 웹사이트입니다.</p>
      <p style="padding-bottom: 10px; font-size:16px; ">익명성을 보장하여 웨딩홀, 스드메 등 다양한 결혼 준비 과정에서 생생한 인증 후기를 제공하며, 사용자들이 합리적인 결정을 내릴 수 있도록 돕습니다. </p>
      <p style="padding-bottom: 10px; font-size:16px; ">예랑예신은 결혼 준비에 필요한 모든 정보를 한 곳에서 쉽게 찾고 공유할 수 있는 플랫폼입니다.</p>
      <p style="padding-bottom: 40px; font-size:16px; ">커뮤니티를 통해 사용자들은 서로의 경험과 조언을 나누며 결혼 준비의 즐거움을 함께할 수 있습니다.</p>
      <p style="padding-bottom: 40px; font-size:16px; ">예랑예신은 당신의 결혼 준비를 더욱 특별하고 편리하게 만들어 드립니다..</p>
    </div>

    <div class="about_bottom_logo" style="padding-bottom: 60px;">
      <img src="./images/common/logo.svg" alt="logo" style="width:120px;">
    </div>
  </div>

  <!-- FOOTER -->
  <div th:replace="user/layout/footer.html"></div>
  <!-- //FOOTER -->
  <!-- TOP BUTTON -->
  <span class="top_btn eng">TOP</span>
</div>
<script th:src="@{/js/common.js}"></script>
</body>
</html>