<div class="footer_box">
  <footer>
    <div class="left_side">
      <a href="/main" class="logo">
        <img th:src="@{/images/common/logo.svg}" alt="YESINYERANG logo">
      </a>
      <div class="footer_menu">
        <ul>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">개인정보처리방침</a></li>
          <li><a href="#">약관정책</a></li>
        </ul>
        <p>BEANIONS&copy;ALL RIGHTS RESERVED.</p>
      </div>
    </div>
    <ul class="sns_list">
      <li><a href="#"><img th:src="@{/images/common/icon-facebook.svg}" alt="facebook icon"></a></li>
      <li><a href="#"><img th:src="@{/images/common/icon-instagram.svg}" alt="instagram icon"></a></li>
      <li><a href="#"><img th:src="@{/images/common/icon-twitter.svg}" alt="twitter icon"></a></li>
    </ul>
  </footer>
</div>