<div class="header_box">
  <header>
    <a href="/main" class="logo">
      <img th:src="@{/images/common/logo.svg}" alt="YESINYERANG logo">
    </a>
    <nav>
      <ul class="header_gnb">
        <li>
          <a href="#">예피셜</a>
          <ul class="sub_menu">
            <li><a href="/user/board/notice">공지사항</a></li>
            <li><a href="/user/board/magazine">매거진</a></li>
          </ul>
        </li>
        <li>
          <a href="#">예수다</a>
          <ul class="sub_menu">
            <li><a href="/user/board/yesinList?id=예신">예신</a></li>
            <li><a href="/user/board/yerangList?id=예랑">예랑</a></li>
          </ul>
        </li>
        <li><a href="/user/board/reviewList">예리뷰</a></li>
      </ul>
      <ul class="right_menu">
        <li><a href="/user/board/freeRegist">글쓰기</a></li>
        <li><a href="#">로그인</a></li>
      </ul>
    </nav>
  </header>
</div>