.wrapper {display: flex; flex-direction: column; align-items: center;}
.main_cont {max-width: 1200px; width: 100%; min-height: calc(100vh - 200px); padding: 0 20px; font-family: 'Noto Sans KR';}

/* main banner */
.banner_box {width: 100%; height: 400px; background-color: var(--hashBg-color); text-align: center;}

/* search_box 검색 영역*/
.search_box {display: flex; flex-direction: column; align-items: center; padding: 100px 0; }
.search_box p {padding:40px 0; font-size: 16px; font-weight: var(--semiBold); color: var(--main-color);}
.search_bar {display: flex; justify-content: space-between; align-items: center; width: 100%;}
.search_bar input {width: 88%; height: 48px; padding: 0 10px; background-color: #fff; border-radius: 12px;}
.search_bar button {width: calc(12% - 20px); margin-left: 20px; height: 48px; font-size: 14px; font-weight: var(--semiBold); white-space: nowrap;}
.search_box ul {display: flex; justify-content: center; align-items: center; padding-top: 20px;}
.search_box ul li {margin-right: 10px;}
.search_box ul li:last-child {margin-right: 0;}
.search_box ul li a {display: flex; justify-content: center; align-items: center; padding: 4px 10px; background-color: var(--hashBg-color); border-radius:8px; color: var(--main-color); font-size: 14px; font-weight: var(--semiBold);}

/* board_cont 게시판 영역 */
.board_cont {margin-bottom: 40px;}
.sec_tit {padding: 20px 0; font-size: 20px; font-weight: var(--semiBold);}
.board_inner_box {display: flex; justify-content: space-between;}
.board_list_box {width: calc(50% - 10px); padding: 20px; border-radius:12px; box-shadow: 0 2px 5px rgba(102, 103, 171, 0.2); background-color: #fff;}
.board_list_box ul:first-child {display: flex; justify-content: space-between; align-items: center; padding-bottom: 20px; border-bottom: 1px solid var(--text-color);}
.board_list_box ul:first-child li:first-child a{font-size: 18px; font-weight: var(--semiBold);}
.board_list_box ul:first-child li:last-child a{font-size: 14px; font-weight: var(--regular);}
.board_list_box ul:last-child {padding-top: 20px;}
.board_list_box ul:last-child li a {display: inline-block; width: -webkit-fill-available; font-size: 14px; font-weight: var(--regular); padding: 8px 0; transition: color 200ms ease-in-out; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.board_list_box ul:last-child li:last-child a { padding-bottom: 0;}
.board_list_box ul:last-child li:first-child a { padding-top: 0;}
.board_list_box ul:last-child li a:hover {color: var(--point-color); }

/* 예리뷰 슬라이드 */
.swiper { width: 100%; height: 400px;}

/* magazine_notice_cont 예피셜&공지사항 */
.magazine_notice_cont {display: flex; justify-content: space-between; margin-bottom: 40px;}
.magazine_cont, .notice_cont {display: flex; flex-direction: column;width: calc(50% - 10px); align-self: stretch;}
.magazine_box, .notice_box {display: flex; width: 100%;border-radius:12px; box-shadow: 0 2px 5px rgba(102, 103, 171, 0.2); background-color: #fff;}
.magazine_box img {width: 50%; object-fit: contain; border-radius:12px;}
.magazine_text {padding: 20px;}
.eng  {font-family: 'Poppins';}
.magazine_no {color: var(--main-color); font-size: 12px; font-weight: var(--medium);}
.magazine_no span { color: var(--main-color); font-size: 14px; font-weight: var(--semiBold);}
.magazine_tit {padding: 8px 0; font-size: 16px; font-weight: var(--semiBold);}
.magazine_tag {padding-bottom: 20px; font-size: 12px; font-weight: var(--regular);}
.magazine_contxt {font-size: 14px; font-weight: var(--regular); text-align: justify;}
.notice_tag {padding: 4px 10px; margin-right: 10px; border-radius: 12px; background-color: var(--text-color); color: #fff; font-size: 14px; font-weight: var(--medium);}
.notice_tag.red { background-color: var(--red-color);}
.notice_tag.event { background-color: var(--point-color);}
.notice_box {padding: 20px; background-color: var(--hashBg-color);}
.notice_box ul {width: 100%;}
.notice_box ul li {width: 100%; margin-bottom: 10px; background-color: #fff; border-radius:12px; }
.notice_box ul li:last-child {margin-bottom: 0;}
.notice_box li a {display: inline-block; height:40px; padding: 0 10px; line-height: 40px; font-size: 14px; font-weight: var(--regular); white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

/* CONTACT 문의메일 */
.contact_box {width: 100%; padding:20px; margin-bottom: 60px; border-radius:12px; box-shadow: 0 2px 5px rgba(102, 103, 171, 0.2); background-color: #fff;}
.contact_box p {padding-bottom: 20px; font-size: 16px; font-weight: var(--semiBold);}
.contact_inner_box {display: flex; justify-content: space-between;}
.contact_input, .contact_img {width: calc(50% - 10px);}
.contact_input input {width: 100%; height: 48px; padding: 0 10px; margin-bottom: 20px; border-radius:12px; }
.contact_input textarea {display: block; width: 100%; padding:10px; border:1px solid var(--input-color); border-radius:12px; transition: border-color 200ms ease-in-out;}
.contact_input textarea:focus {outline: none; border-color: var(--point-color); transition: border-color 200ms ease-in-out;}
.contact_input textarea::placeholder {color: var(--input-color);}
.contact_input button {width: 100%; height: 50px; margin-top: 20px;}
.contact_img {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.contact_img img {width: 200px;}
.contact_img p {font-size: 14px; font-weight: var(--semiBold);}