.wrapper {display: flex; flex-direction: column; align-items: center;}
.search_cont {max-width: 1200px; width: 100%; min-height: calc(100vh - 200px); padding: 0 20px; font-family: 'Noto Sans KR';}

/* search input */
input::-ms-clear,
input::-ms-reveal {
    display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

.eng {
    font-family: 'Poppins';
}

/* ===== "키워드" 검색결과(개수) ===== */
.keyword_result {
    padding-top: 60px;
    display: flex;
    align-items: center;
    font-weight: var(--bold);
}
.keyword_result p {
    font-size: 24px;
    padding-right: 10px;
    color: var(--text-color);
}
.post_count {
    padding: 0 9px 0 9px;
    border-radius: 20px;
    /*width: 50px;*/
    height: 30px;
    text-align: center;
    background-color: var(--main-color);
    font-size: 20px;
    font-family: 'Poppins';
}
.post_count span {
    color: #ffffff;
}

/* ===== 검색 유형 버튼 & 검색창 ===== */
.searchType_searchBox {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
}

.buttons_outline {
    display: flex;
    align-items: end;
}

.button_box {
    padding-right: 10px;
}
.search-btn {
    width: 88px;
    height: 34px;
    font-weight: var(--semiBold);
    font-size: 16px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: #ffffff;
}
.search-btn:hover {
    color: #ffffff;
}

.search-btn.active {
    background-color: var(--main-color);
    color: #ffffff;
}

.search_form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.search_box {
    align-items: center;
    position: relative;
    width: 300px;
    height: 40px;
    /*margin-bottom: 20px;*/
    display: flex;
    flex-direction: column;
}

.search_input {
    position: absolute;
    height: 40px;
    padding: 0 105px 0 10px;
    border-radius: 12px;
    border: none;
    background-color: var(--hashBg-color);
}

.search_input::placeholder {
    color: var(--main-color);
}

.clear_btn {
    position: absolute;
    margin-top: 8px;
    width: 24px;
    height: 24px;
    right: 40px;
    background: center / contain no-repeat
    url("../../images/common/icons_delete.svg");
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms ease-in-out, z-index 200ms ease-in-out;
}

.clear_btn.active {
    opacity: 1;
    z-index: 1;
}

.search_btn {
    position: absolute;
    margin-top: 8px;
    display: block;
    width: 24px;
    height: 24px;
    right: 10px;
    background: center / contain no-repeat
    url("../../images/common/icon_search.svg");
    cursor: pointer;
}

.result_box {
    padding-top: 20px;
    padding-bottom: 60px;
}

.post_box {
    border: 1px solid #D9DAF1;
    border-radius: 12px;
    margin-bottom: 24px;
    padding: 20px;
    cursor: pointer;
}

.post_box:hover {
    /*border: 1px solid var(--point-color);*/
    box-shadow: 0 2px 5px #EDEDF5;
}

.nickname_count_date {
    display: flex;
    justify-content: end;
    font-size: 12px;
}

.nickname_count_date p {
    margin-left: 20px;
}

.post_title {
    font-size: 18px;
    font-weight: var(--semiBold);
    margin-bottom: 14px;
}

.post_context {
    font-size: 16px;
    font-weight: var(--regular);
    margin-bottom: 10px;
}

#post_viewCount {
    margin-left: 5px;
}