
.terms_body {
    width: 800px;
    height: 224px;
    margin: auto;
}

.terms_box {
    width: 800px;
    height: 224px;
    border-style: solid;
    border-width: thin;
    border-radius: 6px;
    border-color: #C4C4C4;
    resize: none;
}

.signup_body {
    width: 800px;
    padding-top: 180px;
    margin: auto;
    /*text-align: center;*/
}

.signup_item {
    padding-right: 85px;
    display: inline-block;
}

.item_box {
    padding-bottom: 40px
}

.label_box {
    width: 800px;
    height: 10px;
    visibility: visible;
}