.eng {font-family: 'Poppins';}
.wrapper {display: flex; flex-direction: column; align-items: center;}
.board_cont {max-width: 1200px; min-width:1200px; width: 100%; min-height: calc(100vh - 200px); padding: 0 20px; padding-top:40px; font-family: 'Noto Sans KR';}
p.regist {padding-bottom: 60px; font-size: 24px; font-weight: var(--bold);}
.regist_top_sec {display: flex; justify-content: space-between; align-items: center;
    padding: 20px 0;}
.schedule_tit_box {position: relative; width: 100%; height: 48px;}
.schedule_tit_box .tit_count {position: absolute; top: 50%; right: 20px; transform: translateY(-50%); font-size: 12px; color: var(--input-color);}
.schedule_tit {width: 100%; height: 48px; padding-left: 10px; padding-right: 60px; border: none; border: 1px solid var(--input-color); border-radius:12px; font-size: 16px; font-weight: var(--medium);}
.schedule_tit_box .tit_counted {color: var(--input-color); transition: color 200ms ease-in-out;}
.schedule_tit:focus + .tit_count > .tit_counted {color: var(--point-color);}
.schedule_tit::placeholder, .schedule_contxt_box::placeholder  {font-size: 14px; font-weight: var(--regular); color: var(--inactive-input-bg);}
select { height: 48px; padding: 0 20px; border: 1px solid var(--input-color); border-radius: 12px; margin-right: 20px; outline: none;}
select > option {}
select:focus {border: 1px solid var(--point-color);}
.button_list {display: flex; justify-content: flex-end; align-items: center; padding: 40px 0 60px;}
.button_list button { height: 50px; width: 100px; border-radius:12px; cursor: pointer; font-size: 16px; font-weight: var(--semiBold);}
.button_list button.cancel_btn {margin-right: 20px;}
.cancel_btn {background-color: #fff; color: var(--main-color); border: 1px solid var(--main-color);}
.cancel_btn:hover {background-color: var(--hashBg-color);}
.board_txt_box { width: 100%; height:500px; padding:20px 10px;}
.schedule_txt_box {height: 500px; padding-top: 0;}
.schedule_contxt_box {height: 480px; border: 1px solid var(--input-color);}


/* 제목/내용 미입력 관련 팝업창 */
.pop_bg {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; opacity:0; transition: all 200ms ease-in-out; background-color: rgba(102, 103, 171, 0.4);}
.pop_cont {position: absolute; top: 100%; left: 50%; transform: translate(-50%, -50%); width: 27%; max-width: 360px; min-width: 200px; padding: 20px; z-index: -1; opacity: 0; background-color: #fff; border-radius: 12px; text-align: center; transition: all 200ms ease-in-out; }
.pop_cont.selective {top: 120%;}
.pop_bg.active {z-index: 200; opacity: 1;}
.pop_cont.active {z-index: 500; opacity: 1;}
.pop_icon {display: inline-block; width: 36px; height: 36px; margin-bottom: 20px; background-color: var(--main-color); border-radius: 50%;}
.pop_icon img {width:100%; height:100%;}
.pop_cont p{padding-bottom: 20px; font-size: 14px; font-weight: var(--regular);}
.pop_cont.selective p:last-of-type {font-weight: var(--semiBold);}
.pop_txt {padding:20px;}
.pop_btn_list {display: flex; justify-content: space-between; align-items: center;}
.pop_btn_list li {width: calc(50% - 10px); height: 50px; line-height: 50px; text-align: center; border-radius: 12px; cursor: pointer;}
.pop_btn_list li > a {display: block; width: 100%; height: 100%; line-height: 50px;}
.pop_btn_list .cancel_btn a {color: var(--main-color);}
.confirm_btn { display: block; width:100%; height:50px; border-radius:12px; background-color: var(--main-color); color: #fff; line-height:50px; transition: all 200ms ease-in-out; cursor: pointer;}
.confirm_btn:hover {background-color: var(--point-color);}
.fixed {overflow: hidden;}
