/* 컨텐츠 전체 영역 */
.all-content {
    margin-right: 5%;
    width: 1500px;
}
/* 게시글 상세정보 */
.contents_head {
    margin-top: 20px;
    font-weight: var(--bold);
    font-size: 24px;
}

/* 예수다, 예리뷰 */
.post_main_sub_category {
    margin-top: 26px;
    display: flex;
}

.post_main_text {
    font-size: 20px;
    color: #6F6F6F;
    font-weight: var(--semiBold);
}

/* 자유, 리뷰 */
.main_sub_category {
    margin-left: 50px;
    display: flex;
}

.main_text {
    color: var(--previewText-color);
    font-weight: var(--regular);
    font-size: 16px;
    margin-right: 5px;
}

.main_sub {
    font-family: 'Poppins';
    color: var(--previewText-color);
    font-weight: var(--regular);
    font-size: 16px;
}

/* 하위 분류 */
.sub_text {
    margin-left: 5px;
    color: #6F6F6F;
    font-weight: var(--regular);
    font-size: 16px;
}
/* 게시글 제목 */
.title_text {
    margin-top: 24px;
    font-weight: var(--semiBold);
    font-size: 24px;
}

/* 작성자 */
.member_text {
    margin-top: 22px;
    font-weight: var(--bold);
    font-size: 16px;
}

/* 작성일 */
.number {
    position: absolute;
    top: 300px;
    right: 240px;
    font-weight: var(--regular);
    font-size: 20px;
    color: #6F6F6F;
}

/* 내용 위 가로 선 */
.up_line_context {
    margin-top: 27px;
    width: 100%;
}
/* 내용 */
.context_text {
    margin-top: 16px;
    width: 1200px;
    height: 420px;
    margin-bottom: 30px;
}
/* 내용 아래 가로 선 */
.down_line_context_line_context {
    width: 100%;
}

.button_box {
    display: flex;

}

/* 삭제, 목록, 상태변경 버튼 */
.button_box button {
    margin-top: 30px;
    cursor: pointer;
    width: 170px;
    height: 48px;
}

.button_box #deleteModal_open_btn {
    background-color: #F4F4F9;
    color: var(--main-color);
    font-weight: var(--semiBold);
}
#deleteModal_open_btn:hover {
    background-color: #F4F4F9;
    border: solid thin var(--point-color);
    color: var(--point-color);
    transition: background-color 200ms ease-in-out;
}

/* 목록 버튼 */
.button_box #back_post_btn {
    background-color: #F4F4F9;
    color: var(--main-color);
    font-weight: var(--semiBold);
}
#back_post_btn:hover {
    background-color: #F4F4F9;
    border: solid thin var(--point-color);
    color: var(--point-color);
    transition: background-color 200ms ease-in-out;
}

/* 상태변경 버튼 */
.button_box .modify_btn {
    position: absolute;
    right: 220px;
}

/* 모달 전체 영역 */
#deleteModal {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* 모달 글 */
#deleteModal p {
    margin-top: 30px;
    text-align: center;
}

/* 모달 안에 있는 버튼 */
#deleteModal button {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 40px;
    /*margin-left: calc(100% - 100px - 10px);*/
}

/* 모달 내용 */
#deleteModal .deleteModal_content {
    width: 300px;
    height: 200px;
    /*margin: -100px 0 -100px 700px ;*/
    margin-top: -8%;
    margin-left: 35%;
    padding: 10px 10px;
    background: #ffffff;
    border-radius: 12px;
    /*border: 2px solid #666;*/
}

/* 모달 뒷 배경 */
#deleteModal .deleteModal_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#deleteModal .deleteModal_icon_box {
    margin-top: 15px;
    text-align: center;
}

#deleteModal .deleteModal_icon {
    height: 40px;
    width: 40px;
}

#deleteModal .deleteModal_button_box {
    height: 40px;
    width: 215px;
    margin-top: 25px;

    margin-left: 33px;
    display: flex;
    justify-content: space-between;
}

#deleteModal_close_btn {
    background-color: #ffffff;
    color: var(--main-color);
    border: solid thin var(--main-color);
    font-weight: var(--semiBold);
    /*margin-right: 15px;*/

}

#deleteModal_close_btn:hover {
    background-color: #ffffff;
    border: solid thin var(--point-color);
    color: var(--point-color);
    transition: background-color 200ms ease-in-out;
}
