input::-ms-clear,
input::-ms-reveal {
    display: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}
.container {
    position: fixed; margin-top: 102px;
    width: 150px;
    border-right-style: solid;
    border-right-color: #6667AB;
    border-right-width: 1px;
    height: 100%
}

.menu-item {
    padding-bottom: 30px;
    cursor: pointer
}

.menu-item.active {
    background-color: #D4CFEB;
}


/* 사이드바의 세로 길이를 화면 높이에 맞추기 위한 설정 */
html, body {
    height: 100%;
}

/* 컨텐츠 전체 영역 */
article {
    margin-top: 126px;
    margin-left: 176px;
    margin-right: 26px;
    width: 100%;
}


.search_form{
    position: absolute;
    right: 27px;
}

.search_box {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
}
.search_input {
    position: absolute;
    height: 40px;
    padding: 0 105px 0 10px;
    border-radius: 12px;
    border: none;
    background-color: var(--hashBg-color);
}
.search_input::placeholder {
    color: var(--main-color);
}
.clear_btn {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 40px;
    background: center / contain no-repeat
    url("../../images/common/icons_delete.svg");
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms ease-in-out, z-index 200ms ease-in-out;
}
.clear_btn.active {
    opacity: 1;
    z-index: 1;
}
.search_btn {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    right: 10px;
    background: center / contain no-repeat
    url("../../images/common/icon_search.svg");
    cursor: pointer;
}
/* 사이드바 + 컨텐츠 전체 영역 */
.sidebar_content {
    display: flex;
}



/* 게시판 관리 */
/* 테이블 전체 영역 */
.table_box {
    width: 100%;
    margin-top: 40px;
    display: inline-block;      /* 내부 테이블 크기에 맞춤 */
    border: 1px solid var(--text-color);    /* border 표시 */
    border-radius: 12px;    /* radius 적용 */
    overflow: hidden;       /* 넘치는 내용 감춤 */
}
table {
    width: 100%;
    text-align: center;
    border-style: hidden;   /* 두께 맞추기 위해 border-style 숨김 */
    /*border: 2px groove var(--text-color);*/
    /*border-radius: 12px;*/
    border-collapse: collapse;
}

tr, th, td {
    border: 1px groove var(--inactive-text);
    /*border-radius: 12px;*/
}

th, td {
    height: 40px;
    font-size: 14px;
}


th {
    background-color: #6667AB;
    color: #ffffff;
    font-weight: var(--regular);
    font-size: 16px;
}

.manage_th {
    width: 110px;
}

.number {
    font-family: 'Poppins';
}

.table_box button {
    background-color: #F4F4F9;
    color: var(--main-color);
    cursor: pointer;
    height: 30px;
    width: 90px;
}

.table_box button:hover {
    background-color: #F4F4F9;
    border: solid thin var(--point-color);
    color: var(--point-color);
    transition: background-color 200ms ease-in-out;
}

.regist_search_box {
    position: absolute;
    top: 127px;
    /*background-color: #C9C9C9;*/
    display: inline-block;
}

.regist_search_box button {
    /*margin-top: 20px;*/
    margin-left: 750px;
    width: 140px;
    height: 40px;
}