.membersDisplay {
    max-width: 1600px;
    min-height: calc(100vh - 200px);
    padding: 60px 0 0 20px;: 40px 0;


}
.memberModifyBox {
    background-color: white;
    width: 400px;
    height: 50px;
    border: #C4C4C4 0.5px solid;
    text-justify: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.post_comment {


}
.hr {
    color: #D4CFEB;
}


