.membersDisplay {
    width: 1200px;
    margin-left: 20px;
    margin-right: 20px;


}
.searchBox {

}

.memberModifyBox {
    background-color: white;
    width: 400px;
    height: 50px;
    border: #C4C4C4 0.5px solid;
    text-justify: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.hr {
    color: #D4CFEB;
}


