<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beanions</title>
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/admin/common.css}">
</head>
<body>
<div th:replace="admin/header.html"></div>
<div class="sidebar_content">
    <div th:replace="admin/sidebar.html"></div>
    <article class="all-content">
<h1>매거진 수정</h1>
<form action="/admin/magazine/update" method="post">
    <div th:each="magazine : ${ magazineDetail }">
        <input type="hidden" th:value="${ magazine.postCode }" name="postCode">
        <input type="text" th:value="${ magazine.postTitle }"
               name="postTitle" style="height: 30px; width: 800px">
        <select name="subCategory">
            <option value="정보">정보</option>
            <option value="꿀팁">꿀팁</option>
            <option value="뉴스">뉴스</option>
            <option value="기타">기타</option>
        </select>
        <textarea th:text="${ magazine.postContext }" name="postContext"
                  style="height: 400px; width: 1000px; margin-top: 10px">
            </textarea>
    </div>
    <button type="button" onclick="location.href='/admin/magazine'">취소</button>
    <button type="submit">완료</button>
</form>
        <div th:replace="admin/footer.html"></div>
</article>
</div>
</body>
</html>