<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beanions.board.review.dao.ReviewMapper">

    <resultMap id="PostAndMemberResultMap" type="com.beanions.board.common.dto.PostAndMemberDTO">
        <id property="postCode" column="post_code"/>
        <result property="memberCode" column="member_code"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContext" column="post_context"/>
        <result property="postDate" column="post_date"/>
        <result property="mainCategory" column="main_category"/>
        <result property="subCategory" column="sub_category"/>
        <result property="verifiedStatus" column="vef_status"/>
        <result property="reviewStatus" column="review_status"/>
        <result property="viewCount" column="view_count"/>
        <association property="member" javaType="com.beanions.common.dto.MembersDTO">
            <id property="memberCode" column="member_code"/>
            <result property="nickname" column="nickname"/>
        </association>
        <collection property="file" ofType="com.beanions.common.dto.FilesDTO">
            <id property="fileCode" column="FILE_CODE"/>
            <result property="fileName" column="FILE_NAME"/>
            <result property="postCode" column="POST_CODE"/>
        </collection>
    </resultMap>

    <select id="reviewAllList" parameterType="com.beanions.common.dto.SearchDTO" resultMap="PostAndMemberResultMap">
        SELECT
        A.POST_CODE
        , A.POST_TITLE
        , A.MEMBER_CODE
        , A.POST_CONTEXT
        , A.POST_DATE
        , A.MAIN_CATEGORY
        , A.SUB_CATEGORY
        , A.VIEW_COUNT
        , A.VEF_STATUS
        , B.MEMBER_CODE
        , B.NICKNAME
        FROM POST A
        LEFT JOIN MEMBERS B ON A.MEMBER_CODE = B.MEMBER_CODE
        WHERE MAIN_CATEGORY = '리뷰' AND VEF_STATUS = '활성'
        ORDER BY POST_DATE desc, POST_CODE desc
        LIMIT #{pagination.limitStart}, #{recordSize}
    </select>
    <select id="count" parameterType="com.beanions.common.dto.SearchDTO" resultType="int">
        SELECT
        COUNT(*)
        FROM
        POST
        WHERE MAIN_CATEGORY='리뷰' AND VEF_STATUS = '활성'
    </select>
    <select id="reviewDetail" resultMap="PostAndMemberResultMap">
        SELECT
        A.POST_CODE
        , A.POST_TITLE
        , A.MEMBER_CODE
        , A.POST_CONTEXT
        , A.POST_DATE
        , A.MAIN_CATEGORY
        , A.SUB_CATEGORY
        , A.REVIEW_STATUS
        , A.VIEW_COUNT
        , B.MEMBER_CODE
        , B.NICKNAME
        , C.FILE_NAME
        , C.POST_CODE
        FROM POST A
        LEFT JOIN MEMBERS B ON A.MEMBER_CODE = B.MEMBER_CODE
        LEFT JOIN FILES C ON A.POST_CODE = C.POST_CODE
        WHERE A.POST_CODE = #{ id }
        ORDER BY POST_DATE desc
    </select>

    <update id="reviewModify" parameterType="com.beanions.common.dto.PostDTO">
        UPDATE POST
        SET
        POST_TITLE = #{ postTitle },
        POST_CONTEXT = #{ postContext }
        WHERE POST_CODE = #{ postCode } AND SUB_CATEGORY = #{ subCategory }
    </update>

    <delete id="reviewDelete" parameterType="com.beanions.common.dto.PostDTO">
        DELETE
        FROM
        POST
        WHERE POST_CODE = #{ postCode } AND SUB_CATEGORY = #{ subCategory }
    </delete>
</mapper>
