<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/user/common.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" th:href="@{/css/user/main.css}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        select option[value=""][disabled] {
            display: none;
        }
    </style>
</head>
<body>
<div th:replace="user/layout/header.html"></div>

<h3>글쓰기</h3>
<form action="/user/board/freeRegist" method="post">
    <select id="mainCategory" name="mainCategory" th:value="mainCategory">
        <option value="" disabled selected>게시판을 선택해 주세요.</option>
        <option value="자유">예수다</option>
        <option value="리뷰">예리뷰</option>
    </select>
    <select id="subCategory" name="subCategory" th:value="subCategory">
        <option value="" disabled selected>카테고리를 선택해주세요.</option>
        <option value="예신">예신</option>
        <option value="예랑">예랑</option>
        <option value="웨딩">웨딩</option>
        <option value="스드메">스드메</option>
        <option value="기타-리뷰">기타</option>
    </select>
    <br>
<input type="text" name="postTitle" placeholder="제목을 입력하세요.">
    <br>
    <hr>
    <input type="text" th:value="${memberCode}" name="memberCode">
    <input type="hidden" th:value="${postDate}" name="memberCode">
    <div>
            <textarea name="postContext" placeholder="내용을 입력하세요."
                      style="height: 400px; width: 1000px; margin-top: 10px"></textarea>
    </div>
<label>태그</label><input type="text" name="tag" placeholder="#태그를 추가하세요."><br>
<button type="button" onclick="history.back()">취소</button>
<button type="submit">등록</button>

    </form>


<script>
    $(document).ready(function() {
        const mainCategorySelect = $('#mainCategory');
        const subCategorySelect = $('#subCategory');

        mainCategorySelect.change(function () {
            const selectedMainCategory = $(this).val();

            subCategorySelect.empty();

            switch (selectedMainCategory) {
                case '자유':
                    addSubCategoryOptions(['예신', '예랑']);
                    break;
                case '리뷰':
                    addSubCategoryOptions(['웨딩', '스드메', '기타']);
                    break;
                default :
                    addSubCategoryOptions(['']);
                    break;
            }
        })
            function addSubCategoryOptions(options) {
                $.each(options, function(index, option) {
                    subCategorySelect.append($('<option>', {
                        value: option,
                        text: option
                    }));
                });
            }
    });

    </script>
<div th:replace="user/layout/footer.html"></div>
<script th:inline="javascript">
    //header sub menu 활성화
    const gnbMenu = document.querySelectorAll('.header_gnb > li > a');
    const subMenu = document.querySelectorAll('.sub_menu');
    gnbMenu.forEach(gnbmenu => {
        gnbmenu.addEventListener('mouseover', (e) => {
            e.currentTarget.nextElementSibling.classList.add("active");
        })
        gnbmenu.addEventListener('mouseout', (e) => {
            e.currentTarget.nextElementSibling.classList.remove("active");
        })
    });

    subMenu.forEach(submenu => {
        submenu.addEventListener('mouseover', (e) => {
            e.currentTarget.classList.add("active");
        })
        submenu.addEventListener('mouseout', (e) => {
            e.currentTarget.classList.remove("active");
        })
    })

    // 예리뷰 슬라이드
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</body>
</html>