<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/user/common.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" th:href="@{/css/user/main.css}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <div th:each="yesin: ${ PostAndMemberDTOList }">
        <title th:text="|${yesin.subCategory}수다방|"></title>
    </div>
    <script>
        const successMessage = `[[${ successMessage }]]`
        if (successMessage){
            alert(successMessage)
        }
    </script>
</head>
<body>
<div th:replace="user/layout/header.html"></div>

    <h1 th:text="|${name}수다방|"></h1>

    <input type="text" name="search">

    <table>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>조회수</th>
            <th>글쓴이</th>
            <th>작성시간</th>
        </tr>
        <tr th:each="free, i : ${ PostAndMemberDTOList }" >
            <td th:text="${ (i.size + 1)-(i.count) }"></td>
            <td>
            <a th:text="${ free.postTitle }" th:href="@{/user/board/freeDetail(id=${free.postCode})}"></a>
            </td>
            <td th:text="${ free.viewCount }"></td>
            <td th:text="${ free.member.nickname }"></td>
            <td th:text="${ #dates.format(free.postDate, 'yyyy.MM.dd') }"></td>
        </tr>

        <button type="button" th:onclick="|location.href='@{/user/board/freeRegist}'|">글쓰기</button>

<!--        <ul id="js-pagination" class="pagination">-->
<!--            &lt;!&ndash; 이전 페이지 그룹 이동 버튼 &ndash;&gt;-->
<!--            <li><a href="#js-bottom" id="allprev">&lt;&lt;</a></li>-->
<!--            <li><a href="#js-bottom" id="prev">&lt;</a></li>-->

<!--            &lt;!&ndash; 페이지 번호 &ndash;&gt;-->
<!--            <li><a href="#js-bottom" id="page-1" data-num="1">1</a></li>-->
<!--            <li><a href="#js-bottom" id="page-2" data-num="2">2</a></li>-->
<!--            <li><a href="#js-bottom" id="page-3" data-num="3">3</a></li>-->
<!--            <li><a href="#js-bottom" id="page-4" data-num="4">4</a></li>-->
<!--            <li><a href="#js-bottom" id="page-5" data-num="5">5</a></li>-->
<!--            <li><a href="#js-bottom" id="page-6" data-num="6">6</a></li>-->
<!--            <li><a href="#js-bottom" id="page-7" data-num="7">7</a></li>-->
<!--            <li><a href="#js-bottom" id="page-8" data-num="8">8</a></li>-->
<!--            <li><a href="#js-bottom" id="page-9" data-num="9">9</a></li>-->
<!--            <li><a href="#js-bottom" id="page-10" data-num="10">10</a></li>-->

<!--            &lt;!&ndash; 다음 페이지 그룹 이동 버튼 &ndash;&gt;-->
<!--            <li><a href="#js-bottom" id="next">&gt;</a></li>-->
<!--            <li><a href="#js-bottom" id="allnext">&gt;&gt;</a></li>-->
<!--        </ul>-->

<!--<script>-->
<!--        function renderPagination(currentPage) {-->
<!--        if (_totalCount <= 20) return;-->

<!--        var totalPage = Math.ceil(_totalCount / 20);-->
<!--        var pageGroup = Math.ceil(currentPage / 10);-->

<!--        var last = pageGroup * 10;-->
<!--        if (last > totalPage) last = totalPage;-->
<!--        var first = last - (10 - 1) <= 0 ? 1 : last - (10 - 1);-->
<!--        var next = last + 1;-->
<!--        var prev = first - 1;-->

<!--        const fragmentPage = document.createDocumentFragment();-->
<!--        if (prev > 0) {-->
<!--        var allpreli = document.createElement('li');-->
<!--        allpreli.insertAdjacentHTML("beforeend", `<a href='#js-bottom' id='allprev'>&lt;&lt;</a>`);-->

<!--        var preli = document.createElement('li');-->
<!--        preli.insertAdjacentHTML("beforeend", `<a href='#js-bottom' id='prev'>&lt;</a>`);-->

<!--        fragmentPage.appendChild(allpreli);-->
<!--        fragmentPage.appendChild(preli);-->
<!--        }-->

<!--        for (var i = first; i <= last; i++) {-->
<!--        const li = document.createElement("li");-->
<!--        li.insertAdjacentHTML("beforeend", `<a href='#js-bottom' id='page-${i}' data-num='${i}'>${i}</a>`);-->
<!--        fragmentPage.appendChild(li);-->
<!--        }-->

<!--        if (last < totalPage) {-->
<!--        var allendli = document.createElement('li');-->
<!--        allendli.insertAdjacentHTML("beforeend", `<a href='#js-bottom'  id='allnext'>&gt;&gt;</a>`);-->

<!--        var endli = document.createElement('li');-->
<!--        endli.insertAdjacentHTML("beforeend", `<a  href='#js-program-detail-bottom'  id='next'>&gt;</a>`);-->

<!--        fragmentPage.appendChild(endli);-->
<!--        fragmentPage.appendChild(allendli);-->
<!--        }-->

<!--        document.getElementById('js-pagination').appendChild(fragmentPage);-->
<!--        // 페이지 목록 생성-->

<!--        $(`#js-pagination a`).removeClass("active");-->
<!--        $(`#js-pagination a#page-${currentPage}`).addClass("active");-->

<!--        $("#js-pagination a").click(function (e) {-->
<!--        e.preventDefault();-->
<!--        var $item = $(this);-->
<!--        var $id = $item.attr("id");-->
<!--        var selectedPage = $item.text();-->

<!--        if ($id == "next") selectedPage = next;-->
<!--        if ($id == "prev") selectedPage = prev;-->
<!--        if ($id == "allprev") selectedPage = 1;-->
<!--        if ($id == "allnext") selectedPage = totalPage;-->

<!--        list.renderPagination(selectedPage);//페이지네이션 그리는 함수-->
<!--        list.search(selectedPage);//페이지 그리는 함수-->
<!--        });-->
<!--        };-->
<!--</script>-->

    </table>
<div th:replace="user/layout/footer.html"></div>
        <script th:inline="javascript">
                //header sub menu 활성화
                const gnbMenu = document.querySelectorAll('.header_gnb > li > a');
                const subMenu = document.querySelectorAll('.sub_menu');
                gnbMenu.forEach(gnbmenu => {
                gnbmenu.addEventListener('mouseover', (e) => {
                    e.currentTarget.nextElementSibling.classList.add("active");
                })
                gnbmenu.addEventListener('mouseout', (e) => {
                e.currentTarget.nextElementSibling.classList.remove("active");
            })
            });

                subMenu.forEach(submenu => {
                submenu.addEventListener('mouseover', (e) => {
                    e.currentTarget.classList.add("active");
                })
                submenu.addEventListener('mouseout', (e) => {
                e.currentTarget.classList.remove("active");
            })
            })

                // 예리뷰 슬라이드
                const swiper = new Swiper('.swiper', {
                // Optional parameters
                direction: 'horizontal',
                loop: true,

                // If we need pagination
                pagination: {
                el: '.swiper-pagination',
            },

                // Navigation arrows
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            });
        </script>
</body>
</html>