<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>

    <div th:each="yesin: ${ PostAndMemberDTOList }">
        <title th:text="|${yesin.subCategory}수다방|"></title>
    </div>
    <script>
        const successMessage = `[[${ successMessage }]]`
        if (successMessage){
            alert(successMessage)
        }
    </script>
</head>
<body>
<!--<div th:replace="common/header.html"></div>-->

    <h1 th:text="|${name}수다방|"></h1>

    <input type="text" name="search">

    <table>
        <tr>
            <th>No</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성시간</th>
        </tr>
        <tr th:each="free, i : ${ PostAndMemberDTOList }" >
            <td th:text="${ (i.size + 1)-(i.count) }"></td>
            <td>
            <a th:text="${ free.postTitle }" th:href="@{/user/board/yesinDetail(id=${free.postCode})}"></a>
            </td>
            <td th:text="${ free.member.nickname }"></td>
            <td th:text="${ #dates.format(free.postDate, 'yyyy.MM.dd') }"></td>
        </tr>

        <button type="button" th:onclick="|location.href='@{/user/board/freeRegist}'|">글쓰기</button>
    </table>

    <div class="paging">
        <script th:inline="javascript">
            window.onload = () => {
                yesinAllList();
            }



        </script>


    </div>
</body>
</html>