<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/user/common.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" th:href="@{/css/user/main.css}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <div th:each="free: ${ PostAndMemberDTO }">
        <title th:text="${free.postTitle}"></title>
    </div>
</head>
<body>
<div th:replace="user/layout/header.html"></div>
<!--게시글 영역-->
    <table>
    <div th:each="free: ${ PostAndMemberDTO }" >
        <p th:text="${free.mainCategory}"></p>
        <p th:text=" ${free.subCategory}"></p>

        <h1 th:text="${free.postTitle}"></h1>
        <p th:text="${free.member.nickname}"></p>
        <p th:text="${ #dates.format(free.postDate, 'yyyy.MM.dd') }"></p>
        <p th:text="${free.postContext}"></p>
<!--댓글 영역-->
        <a>댓글</a>
        <tr th:each="cmt : ${comments}">
            <td th:text="${cmt.comment}"></td>
            <td th:text="${cmt.nickname}"></td>
            <td th:text="${#temporals.format(cmt.modifiedAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        <form>
            <div>
                <label for="comment">댓글 작성</label>
                <textarea class="form-control" id="comment" rows="1"></textarea>
            </div>
            <button type="button">등록</button>
        </form>

        <button type="button" th:if="${free.subCategory.equals('예신')}" th:onclick="|location.href='@{/user/board/yesinmodify(id=${free.postCode})}'|">수정하기</button>
        <button type="button" th:if="${free.subCategory.equals('예랑')}" th:onclick="|location.href='@{/user/board/yerangmodify(id=${free.postCode})}'|">수정하기</button>
        <form th:action="@{/user/board/freedelete(id=${free.postCode})}" method="post">
            <input type="hidden" th:value="${free.subCategory}" name="subCategory">
            <input type="hidden" th:value="${free.postCode}" name="postCode">
            <button type="submit">삭제하기</button>
        </form>

    </div>
    </table>

<div th:replace="user/layout/footer.html"></div>
<!--댓글 관련 script-->
<!--<script>-->
<!--    const bno = `${postCode}`;-->
<!--    const URL = '/user/board/freeDetail';-->
<!--    function showReplies(pageNum = 1) {-->

<!--        fetch(URL + '?boardNo=' + bno + '&pageNum=' + pageNum)-->
<!--            .then(res => res.json())-->
<!--            .then(replyMap => {-->
<!--                makeReplyDOM(replyMap);-->
<!--            });-->
<!--    }-->
<!--</script>-->
<script th:inline="javascript">
    //header sub menu 활성화
    const gnbMenu = document.querySelectorAll('.header_gnb > li > a');
    const subMenu = document.querySelectorAll('.sub_menu');
    gnbMenu.forEach(gnbmenu => {
        gnbmenu.addEventListener('mouseover', (e) => {
            e.currentTarget.nextElementSibling.classList.add("active");
        })
        gnbmenu.addEventListener('mouseout', (e) => {
            e.currentTarget.nextElementSibling.classList.remove("active");
        })
    });

    subMenu.forEach(submenu => {
        submenu.addEventListener('mouseover', (e) => {
            e.currentTarget.classList.add("active");
        })
        submenu.addEventListener('mouseout', (e) => {
            e.currentTarget.classList.remove("active");
        })
    })

    // 예리뷰 슬라이드
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

</script>
</body>
</html>