<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/user/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/board/free.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const successMessage = `[[${ successMessage }]]`
        if (successMessage){
            alert(successMessage)
        }
        $(document).ready(function() {
            // 페이지가 로드되었을 때, 딱 한 번만 함수를 실행
            console.log('findAllPost 실행...');
            findAllPost();
        });
    </script>
</head>
<body>
    <div th:each="yesin: ${ PostAndMemberDTOList.list }">
        <title th:text="|${yesin.subCategory}수다방|"></title>
    </div>
<div th:replace="user/layout/header.html"></div>
    <div class="content">
        <article>
            <p class="free_title" th:text="|${name}수다방|"></p>

            <form class="search_form">
                <div class="search_box">
                    <input type="search" class="search_input" placeholder="회원 아이디 검색">
                    <span class="clear_btn"></span>
                    <span class="search_btn"></span>
                </div>
            </form>

            <table class="free_list">
                <thead>
                <tr>
                    <th class="eng">no</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>작성시간</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr class="list" th:each="free, i : ${ PostAndMemberDTOList.list }" >
                    <td class="eng" th:text="${ (i.size + 1)-(i.count) }"></td>
                    <td>
                    <a th:text="${ free.postTitle }" th:href="@{/board/freeDetail(id=${free.postCode})}"></a>
                    </td>
                    <td th:text="${ free.member.nickname }"></td>
                    <td class="eng" th:text="${ #dates.format(free.postDate, 'yyyy.MM.dd') }"></td>
                    <td th:text="${ free.viewCount }"></td>
                </tr>
                </tbody>
            </table>

        <!--페이지네이션 렌더링-->
            <div class="paging">

            </div>
                <button class="regist_button" type="button" th:onclick="|location.href='@{/board/freeRegist}'|">글쓰기</button>
        </article>
    </div>
<div th:replace="user/layout/footer.html"></div>

    <script>
        $(document).ready(function() {
            // 페이지가 로드되었을 때, 딱 한 번만 함수를 실행
            console.log('findAllPost 실행...');
            findAllPost();
        });


        // 게시글 리스트 조회
        function findAllPost() {
            // 1. PagingResponse의 멤버인 List<T> 타입의 list를 의미
            const list = [[ ${PostAndMemberDTOList.list} ]];
            console.log('list...');
            // 2. 리스트가 비어있는 경우, 행에 "검색 결과가 없다"는 메시지를 출력하고, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직을 종료
            if ( !list.length ) {
                document.getElementById('list').innerHTML = '<td colspan="6"><div className="no_data_msg">검색된 결과가 없습니다.</div></td>';
                drawPage();
            }

            // 3. PagingResponse의 멤버인 pagination을 의미
            const pagination = [[ ${PostAndMemberDTOList.pagination} ]];

            // 4. @ModelAttribute를 이용해서 뷰(HTML)로 전달한 SearchDto 타입의 객체인 params를 의미
            const params = [[ ${params} ]];

            // 5. 리스트에 출력되는 게시글 번호를 처리하기 위해 사용되는 변수 (리스트에서 번호는 페이지 정보를 이용해서 계산해야 함)
            let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);

            // 6. 리스트 데이터 렌더링
            drawList(list, num);

            // 7. 페이지 번호 렌더링
            drawPage(pagination, params);
        }


        // 리스트 HTML draw
        function drawList(list, num) {

            // 1. 렌더링 할 HTML을 저장할 변수
            let html = '';

            /*
             * 2. 기존에 타임리프(Thymeleaf)를 이용해서 리스트 데이터를 그리던 것과 유사한 로직
             *    기존에는 게시글 번호를 (전체 데이터 수 - loop의 인덱스 번호)로 처리했으나, 현재는 (전체 데이터 수 - ((현재 페이지 번호 - 1) * 페이지당 출력할 데이터 개수))로 정밀히 계산
             */
            list.forEach(free => {
                html += `
                     <tr free, i : ${ PostAndMemberDTOList } >
                         <td ${ (i.size + 1)-(i.count) }></td>
                        <td>
                        <a ${ free.postTitle } href="@{/board/freeDetail(id=${free.postCode})}"></a>
                         </td>
                         <td ${ free.viewCount }></td>
                         <td ${ free.member.nickname }></td>
                         <td ${ #dates.format(free.postDate, 'yyyy.MM.dd') }></td>
                     </tr>
                    `;
            })

            // 3. id가 "list"인 요소를 찾아 HTML을 렌더링
            document.getElementById('list').innerHTML = html;
        }


        // 페이지 HTML draw
        function drawPage(pagination, params) {

            // 1. 필수 파라미터가 없는 경우, 페이지 번호(페이지네이션) HTML을 제거(초기화)한 후 로직 종료
            if ( !pagination || !params ) {
                document.querySelector('.paging').innerHTML = '';
                throw new Error('Missing required parameters...');
            }

            // 2. 렌더링 할 HTML을 저장할 변수
            let html = '';

            // 3. 이전 페이지가 있는 경우, 즉 시작 페이지(startPage)가 1이 아닌 경우 첫 페이지 버튼과 이전 페이지 버튼을 HTML에 추가
            if (pagination.existPrevPage) {
                html += `
                        <a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first">첫 페이지</a>
                        <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
                    `;
            }

            /*
             * 4. 시작 페이지(startPage)와 끝 페이지(endPage) 사이의 페이지 번호(i)를 넘버링 하는 로직
             *    페이지 번호(i)와 현재 페이지 번호(params.page)가 동일한 경우, 페이지 번호(i)를 활성화(on) 처리
             */
            html += '<p>';
            for (let i = pagination.startPage; i <= pagination.endPage; i++) {
                html += (i !== params.page)
                    ? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
                    : `<span class="on">${i}</span>`
            }
            html += '</p>';

            // 5. 현재 위치한 페이지 뒤에 데이터가 더 있는 경우, 다음 페이지 버튼과 끝 페이지 버튼을 HTML에 추가
            if (pagination.existNextPage) {
                html += `
                        <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>
                        <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
                    `;
            }

            // 6. class가 "paging"인 요소를 찾아 HTML을 렌더링
            document.querySelector('.paging').innerHTML = html;
        }


        // 페이지 이동
        function movePage(page) {

            // 1. drawPage( )의 각 버튼에 선언된 onclick 이벤트를 통해 전달받는 page(페이지 번호)를 기준으로 객체 생성
            const queryParams = {
                page: (page) ? page : 1,
                recordSize: 10,
                pageSize: 10
            }

            /*
             * 2. location.pathname : 리스트 페이지의 URI("/post/list.do")를 의미
             *    new URLSearchParams(queryParams).toString() : queryParams의 모든 프로퍼티(key-value)를 쿼리 스트링으로 변환
             *    URI + 쿼리 스트링에 해당하는 주소로 이동
             *    (해당 함수가 리턴해주는 값을 브라우저 콘솔(console)에 찍어보시면 쉽게 이해하실 수 있습니다.)
             */
            location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
        }

        /*]]>*/
    </script>

        <script th:inline="javascript">
                //header sub menu 활성화
                const gnbMenu = document.querySelectorAll('.header_gnb > li > a');
                const subMenu = document.querySelectorAll('.sub_menu');
                gnbMenu.forEach(gnbmenu => {
                gnbmenu.addEventListener('mouseover', (e) => {
                    e.currentTarget.nextElementSibling.classList.add("active");
                })
                gnbmenu.addEventListener('mouseout', (e) => {
                e.currentTarget.nextElementSibling.classList.remove("active");
            })
            });

                subMenu.forEach(submenu => {
                submenu.addEventListener('mouseover', (e) => {
                    e.currentTarget.classList.add("active");
                })
                submenu.addEventListener('mouseout', (e) => {
                e.currentTarget.classList.remove("active");
            })
            })

                // 예리뷰 슬라이드
                const swiper = new Swiper('.swiper', {
                // Optional parameters
                direction: 'horizontal',
                loop: true,

                // If we need pagination
                pagination: {
                el: '.swiper-pagination',
            },

                // Navigation arrows
                navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            });

                // 검색시 x버튼
                const clearBtn = document.querySelector(".clear_btn");
                clearBtn.addEventListener("click", (e) => { //x버튼 클릭시
                    e.currentTarget.parentNode.querySelector(".search_input").value = null; // 입력된 검색어 내용 null로 변경
                    clearBtn.classList.remove("active"); // x버튼 비활성화
                });

                // 검색시 입력 내용 실시간 감지 & x버튼 활성/비활성화
                const searchInput = document.querySelector(".search_input");
                searchInput.addEventListener("input", (e) => {
                    if (e.currentTarget.value.length > 0) {// 검색어입력내용의 길이가 0보다 큰 경우
                        clearBtn.classList.add("active"); // x버튼 활성화
                    } else if (e.currentTarget.value.length <= 0) { // 검색어입력내용의 길이가 0보다 작거나 같은 경우
                        clearBtn.classList.remove("active");// x버튼 비활성화
                    }
                });
        </script>
</th:block>
</body>
</html>