<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/user/common.css}">
    <link rel="stylesheet" th:href="@{../../css/user/comment.css}">
    <link rel="stylesheet" th:href="@{/css/user/board/free.css}">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

    <div>
        <title th:text="${PostAndMemberDTO.postTitle}"></title>
    </div>
</head>
<body>
    <div th:replace="user/layout/header.html"></div>

    <!--게시글 영역-->
    <div class="free_list_content" style="flex-direction: column; align-items: center;">
        <article>
            <div>
                <div class="category_data">
                    <p class="mainCategory" th:text="${PostAndMemberDTO.mainCategory}"></p>
                    <p class="category_line">|</p>
                    <p class="subCategory" th:text=" ${PostAndMemberDTO.subCategory}"></p>
                </div>
                <div class="title_viewCount">
                    <p class="free_detail_title" th:text="${PostAndMemberDTO.postTitle}"></p>
                    <p class="viewCount" th:text="|조회수 ${PostAndMemberDTO.viewCount}|"></p>
                </div>
                <div class="free_nickname_date">
                    <p class="free_nickname" th:text="${PostAndMemberDTO.getMember().getNickname()}"></p>
                    <p class="free_date" th:text="${ #dates.format(PostAndMemberDTO.getPostDate(), 'yyyy.MM.dd') }"></p>
                </div>
                <hr class="content_line">
                <p class="free_content" th:text="${PostAndMemberDTO.getPostContext()}"></p>
                <div th:unless="${PostAndMemberDTO.getFile() == null || PostAndMemberDTO.getFile().isEmpty()}">
                    <div th:each="img : ${PostAndMemberDTO.getFile()}" style="display: inline-block;">
                        <img th:src="@{/images/upload/user/upload/{file}(file=${img.getFileName()})}"  alt="게시글 파일"/>
                    </div>
                </div>
                <hr class="content_line">
                <div class="detail_buttons">
                    <button class="detail_button" type="button" th:if="${PostAndMemberDTO.subCategory.equals('예신')} and ${PostAndMemberDTO.member.memberCode == session.memberCode}" th:onclick="|location.href='@{/board/yesinmodify(id=${PostAndMemberDTO.postCode})}'|">수정하기</button>
                    <button class="detail_button" type="button" th:if="${PostAndMemberDTO.subCategory.equals('예랑')} and ${PostAndMemberDTO.member.memberCode == session.memberCode}" th:onclick="|location.href='@{/board/yerangmodify(id=${PostAndMemberDTO.postCode})}'|">수정하기</button>
                    <form th:action="@{/board/freedelete(id=${PostAndMemberDTO.postCode})}" method="post">
                        <input type="hidden" th:value="${PostAndMemberDTO.subCategory}" name="subCategory">
                        <input type="hidden" th:value="${PostAndMemberDTO.postCode}" name="postCode">
                        <button class="detail_delete_button" th:if="${PostAndMemberDTO.member.memberCode == session.memberCode}" type="submit">삭제하기</button>
                    </form>
                </div>
            </div>
        </article>

        <!-- 댓글 영역 -->
        <!------------------------------------------------------------->

        <!-- 등록된 댓글 영역 -->
        <div class="registered_comment_box">
            <div class="comment_top_sec">
                <p class="comment_sec_tit">댓글</p>
                <div class="filter_box filter_btn inactive">
                    <p><span class="filter_txt">정렬</span><span class="filter_mark">▼</span></p>
                    <ul class="filter_list">
                        <li>최신순</li>
                        <li>등록순</li>
                    </ul>
                </div>
            </div>

            <ul class="comment_list" id="comment_list" th:data-post-code="${PostAndMemberDTO.postCode}">

            </ul>

            <!-- 댓글 입력 영역 -->
            <div sec:authorize="hasAnyAuthority('USER','ADMIN')">
                <div class="comment_input_box">
                    <span class="comment_profile_img">
                      <img th:src="@{/images/common/icon_user_profile.svg}" alt="user profile icon">
                    </span>
                    <!-- 댓글 입력 input -->
                    <div class="comment_input_area">
                        <div class="schedule_tit_box"><input type="text" class="schedule_tit" maxlength="100" placeholder="내용을 입력하세요"><span class="tit_count eng"><span class="tit_counted">0</span>/100</span></div>
                        <span class="register_btn register_comment_btn" id="register_comment_btn" data-type="regist">등록</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="user/layout/footer.html"></div>

    <!-- 댓글 삭제 시 재확인 팝업창 -->
    <div class="pop_bg"></div>
    <div class="pop_cont selective">
        <span class="pop_icon"><img th:src="@{/images/common/icon_group_modal_bang.svg}" alt="popup icon image"></span>
        <p>해당 댓글을 삭제하시겠습니까?</p>
        <ul class="pop_btn_list">
    <!-- <li class="cancel_btn execute_delete_btn" data-comment-index=""><span>삭제</span></li>-->
            <li class="cancel_btn execute_delete_btn"><span>삭제</span></li>
            <li class="confirm_btn">취소</li>
        </ul>
    </div>

    <!-- 댓글 등록시 입력내용이 없는 경우 , 팝업창 -->
    <div class="pop_cont no_text">
        <span class="pop_icon"><img th:src="@{/images/common/icon_group_modal_bang.svg}" alt="popup icon image"></span>
        <p>등록 내용이 없습니다.<br>다시 입력해주세요.</p>
        <span class="pop_btn confirm_btn">확인</span>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/comment.js}"></script>
</body>
</html>