<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/user/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/board/magazine.css}">
    <link rel="shortcut icon" th:href="@{/images/common/logo_png.png}" sizes="60x60">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <title>예랑예신</title>
</head>
<body>
<div th:replace="user/layout/header.html"></div>
<div class="content">
    <article>
        <p class="magazine_tit">예피셜 매거진</p>

        <form class="search_form">
            <div class="search_box">
                <input type="search" class="search_input" placeholder="검색어를 입력하세요">
                <span class="clear_btn"></span>
                <span class="search_btn"></span>
            </div>
        </form>

<!--        <table class="magazine_cont">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th class="eng">no</th>-->
<!--                <th>제목</th>-->
<!--                <th>글쓴이</th>-->
<!--                <th>조회수</th>-->
<!--                <th>작성시간</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody id="list">-->

<!--            </tbody>-->
<!--        </table>-->

            <div id="list"></div>

        <!--페이지네이션 렌더링-->
        <div class="paging"></div>
    </article>
</div>
<script src="../js/common.js"></script>

<script th:inline="javascript">
    var list = /*[[${ magazineList.list }]]*/ [];
    var pagination = /*[[${ magazineList.pagination }]]*/ {};
    var params = /*[[${ params }]]*/ {};
</script>

<script>
    window.onload = () => {
        findAllPost();
        console.log('페이지 시작 시 로드...');
    };

    function findAllPost() {
        console.log('function 시작 시 로드...', list);

        if (!list || list.length === 0) {
            console.log('if 시작 시 로드...');
            document.getElementById('list').innerHTML = '<td colspan="4"><div class="no_data_msg">검색된 결과가 없습니다.</div></td>';
            drawPage(pagination, params);
            return;
        }

        let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);
        console.log('num', num);

        drawList(list, num);
        drawPage(pagination, params);
    }

    function drawList(list, num) {
        let html = '';

        list.forEach(row => {
            html += `
                    <div class="magazine_box">
                        <img class="magazine_list_file" src="../images/common/magazine_test.jpg">
                        <div class="magazine_list_content">
                            <span class="magazine_num">no.${num--}</span>
                            <span class="content_line">|</span>
                            <span class="magazine_list_category">${row.subCategory}</span>

                            <p class="magazine_list_title"><a href="/board/magazinedetail?id=${row.postCode}">${row.postTitle}</a></p>
                            <p class="magazine_list_tag">#태그 #태그 #태그</p>
                            <p class="magazine_list_context">${row.postContext}</p>
                        </div>
                    </div>
                `;
        });

        function formatDate(dateString) {
            let date = new Date(dateString);
            let year = date.getFullYear();
            let month = (date.getMonth() + 1).toString().padStart(2, '0');
            let day = date.getDate().toString().padStart(2, '0');
            return `${year}.${month}.${day}`;
        }

        document.getElementById('list').innerHTML = html;
    }

    function drawPage(pagination, params) {
        if (!pagination || !params) {
            document.querySelector('.paging').innerHTML = '';
            throw new Error('Missing required parameters...');
        }

        let html = '';
        if (pagination.existPrevPage) {
            html += `
                    <a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first"><<</a>
                    <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev"><</a>
                `;
        }

        for (let i = pagination.startPage; i <= pagination.endPage; i++) {
            html += (i !== params.page)
                ? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
                : `<span class="on">${i}</span>`
        }


        if (pagination.existNextPage) {
            html += `
                    <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">></a>
                    <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">>></a>
                `;
        }

        document.querySelector('.paging').innerHTML = html;
    }

    function movePage(page) {
        const queryParams = {
            page: (page) ? page : 1,
            recordSize: 9,
            pageSize: 5
        };

        location.href = '/board/magazine' + '?' + new URLSearchParams(queryParams).toString();

    }
</script>

<script th:inline="javascript">

    // 검색시 x버튼
    const clearBtn = document.querySelector(".clear_btn");
    clearBtn.addEventListener("click", (e) => { //x버튼 클릭시
        e.currentTarget.parentNode.querySelector(".search_input").value = null; // 입력된 검색어 내용 null로 변경
        clearBtn.classList.remove("active"); // x버튼 비활성화
    });

    // 검색시 입력 내용 실시간 감지 & x버튼 활성/비활성화
    const searchInput = document.querySelector(".search_input");
    searchInput.addEventListener("input", (e) => {
        if (e.currentTarget.value.length > 0) {// 검색어입력내용의 길이가 0보다 큰 경우
            clearBtn.classList.add("active"); // x버튼 활성화
        } else if (e.currentTarget.value.length <= 0) { // 검색어입력내용의 길이가 0보다 작거나 같은 경우
            clearBtn.classList.remove("active");// x버튼 비활성화
        }
    });
</script>
<div th:replace="user/layout/footer.html"></div>
</body>
</html>
