<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/user/common.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" th:href="@{/css/user/main.css}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <title>Title</title>
</head>
<body>
<div th:replace="user/layout/header.html"></div>
<h1>매거진</h1>

<table align="center" border="1">
    <tr>
        <th>NO</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>작성시간</th>
    </tr>
    <tr th:each=" magazine, i : ${ magazineList }">
        <td th:text="${(i.size + 1)-(i.count)}"></td>
        <td><a th:text="${magazine.postTitle}" th:href="@{/user/board/magazinedetail(id=${magazine.postCode})}"></a></td>
        <td th:text="${magazine.member.nickname}"></td>
        <td th:text="${#dates.format(magazine.postDate, 'yyyy.MM.dd')}"></td>
    </tr>
</table>
<div th:replace="user/layout/footer.html"></div>
<script th:inline="javascript">
    //header sub menu 활성화
    const gnbMenu = document.querySelectorAll('.header_gnb > li > a');
    const subMenu = document.querySelectorAll('.sub_menu');
    gnbMenu.forEach(gnbmenu => {
        gnbmenu.addEventListener('mouseover', (e) => {
            e.currentTarget.nextElementSibling.classList.add("active");
        })
        gnbmenu.addEventListener('mouseout', (e) => {
            e.currentTarget.nextElementSibling.classList.remove("active");
        })
    });

    subMenu.forEach(submenu => {
        submenu.addEventListener('mouseover', (e) => {
            e.currentTarget.classList.add("active");
        })
        submenu.addEventListener('mouseout', (e) => {
            e.currentTarget.classList.remove("active");
        })
    })

    // 예리뷰 슬라이드
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</body>
</html>