<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>
    <link rel="stylesheet" th:href="@{../../css/user/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/board/magazine.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <div th:each="magazine : ${ magazine }">
        <title th:text="${magazine.postTitle}"></title>
    </div>
</head>
<body>
<div th:replace="user/layout/header.html"></div>
<div class="content">
    <article>
    <div th:each=" magazine: ${ magazine }">
        <div class="magazine_category">
            <p class="magazine_mainCategory" th:text="${magazine.mainCategory}"></p>
            <p class="category_line">|</p>
            <p class="magazine_subCategory" th:text="${magazine.subCategory}"></p>
        </div>
        <p class="magazine_detail_title" th:text="${magazine.postTitle}"></p>
        <div class="content_data">
            <p class="magazine_nickname" th:text="${magazine.member.nickname}"></p>
            <p class="magazine_date" th:text="${#dates.format(magazine.postDate, 'yyyy.MM.dd')}"></p>
        </div>
        <hr class="content_line">
        <p class="context" th:text="${magazine.postContext}"></p>
        <hr class="content_line">
    </div>

        <button class="back_button" onclick="location.href='/board/notice'">목록</button>
    </article>
</div>
<div th:replace="user/layout/footer.html"></div>
<script th:inline="javascript">
    //header sub menu 활성화
    const gnbMenu = document.querySelectorAll('.header_gnb > li > a');
    const subMenu = document.querySelectorAll('.sub_menu');
    gnbMenu.forEach(gnbmenu => {
        gnbmenu.addEventListener('mouseover', (e) => {
            e.currentTarget.nextElementSibling.classList.add("active");
        })
        gnbmenu.addEventListener('mouseout', (e) => {
            e.currentTarget.nextElementSibling.classList.remove("active");
        })
    });

    subMenu.forEach(submenu => {
        submenu.addEventListener('mouseover', (e) => {
            e.currentTarget.classList.add("active");
        })
        submenu.addEventListener('mouseout', (e) => {
            e.currentTarget.classList.remove("active");
        })
    })

    // 예리뷰 슬라이드
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</body>
</html>