<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/user/common.css}">
  <link rel="stylesheet" th:href="@{/css/user/board/notice.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <title>공지사항</title>
</head>
<body>

  <div th:replace="user/layout/header.html"></div>
  <div class="content">
    <article>
      <div class="notice_category">
        <p class="notice_mainCategory" th:text="${notice.mainCategory}"></p>
        <p class="category_line">|</p>
        <p class="notice_subCategory" th:text="${notice.subCategory}"></p>
      </div>

      <div class="notice_data">
        <p class="notice_detail_title" th:text="${notice.postTitle}"></p>
        <div class="notice_content_data">
          <p class="notice_nickname" th:text="${notice.member.nickname}"></p>
          <p class="notice_Date" th:text="${#dates.format(notice.postDate, 'yyyy.MM.dd')}"></p>
        </div>
        <hr class="notice_content_line">
        <p class="notice_content" th:text="${notice.postContext}"></p>
        <div class="uploaded_img_box" th:if="${notice.getFile().get(0).getFileName() != null}">
          <ul>
            <li th:each="img : ${notice.getFile()}">
              <img th:src="@{/images/upload/user/upload/{file}(file=${img.getFileName()})}">
            </li>
          </ul>
        </div>
        <hr class="notice_content_line">

        <button class="notice_back_button" onclick="location.href='/board/notice'">목록</button>
      </div>
    </article>
  </div>

  <div th:replace="user/layout/footer.html"></div>

  <script th:src="@{/js/common.js}"></script>
</body>
</html>