<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>

    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        select option[value=""][disabled] {
            display: none;
        }
    </style>
</head>
<body>
<!--<div th:replace="common/header.html"></div>-->

<h3>글쓰기</h3>
<form action="/user/board/postRegist" method="post">
    <select id="mainCategory" name="mainCategory" >
        <option value="" disabled selected>게시판을 선택해 주세요.</option>
        <option value="예수다">예수다</option>
        <option value="예리뷰">예리뷰</option>
    </select>
    <select id="subCategory" name="subCategory">
        <option value="" disabled selected>카테고리를 선택해주세요.</option>
        <option value="예신">예신</option>
        <option value="예랑">예랑</option>
        <option value="웨딩">웨딩</option>
        <option value="스드메">스드메</option>
        <option value="기타-리뷰">기타</option>
    </select>
    <br>
<input type="text" name="postTitle" placeholder="제목을 입력하세요.">
    <br>
    <hr>
    <div>
            <textarea name="postContext" placeholder="내용을 입력하세요."
                      style="height: 400px; width: 1000px; margin-top: 10px"></textarea>
    </div>
<label>태그</label><input type="text" name="tag" placeholder="#태그를 추가하세요."><br>
<button type="button" onclick="history.back()">취소</button>
<button type="submit">등록</button>

</form>

<script>
    $(document).ready(function() {
        const mainCategorySelect = $('#mainCategory');
        const subCategorySelect = $('#subCategory');


        mainCategorySelect.change(function() {
            const selectedMainCategory = $(this).val();

            subCategorySelect.empty();

            switch (selectedMainCategory) {
                case '예수다':
                    addSubCategoryOptions(['예신', '예랑']);
                    break;
                case '예리뷰':
                    addSubCategoryOptions(['웨딩', '스드메', '기타']);
                    break;
                default :
                    addSubCategoryOptions(['']);
                    break;
            }
        });

        function addSubCategoryOptions(options) {
            $.each(options, function(index, option) {
                subCategorySelect.append($('<option>', {
                    value: option,
                    text: option
                }));
            });
        }

    });

</script>
</body>
</html>