<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/user/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/board/review.css}">
    <link rel="shortcut icon" th:href="@{/images/common/logo_png.png}" sizes="60x60">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <title>예랑예신</title>
</head>
<body>
<div th:replace="user/layout/header.html"></div>

<div class="content">
    <article>
        <p class="modify">게시글 수정</p>

        <form action="/board/reviewModify" method="post">
            <div th:each="post : ${ modify }">
                <input type="hidden" th:value="${post.subCategory}" name="subCategory">
                <input type="hidden" th:value="${post.postCode}" name="postCode">

                <input class="modify_title" th:value="${post.postTitle}" name="postTitle">
                <hr class="content_line">
                <textarea class="modify_context" th:text="${ post.postContext }" name="postContext"></textarea>

                <div class="detail_buttons">
                    <button class="detail_button" type="submit">수정하기</button>
                    <button class="detail_button" type="button" th:onclick="history.back()">이전으로</button>
                </div>
            </div>
        </form>
    </article>
</div>
<div th:replace="user/layout/footer.html"></div>
<script th:src="@{/js/common.js}"></script>
</body>
</html>