<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../../css/default.css}"/>

    <div th:each="yesin: ${ PostAndMemberDTO }">
        <title th:text="${yesin.postTitle}"></title>
    </div>
</head>
<body>

    <table>
    <div th:each="yesin: ${ PostAndMemberDTO }" >
        <p th:text="${yesin.mainCategory}"></p>
        <p th:text=" ${yesin.subCategory}"></p>

        <h1 th:text="${yesin.postTitle}"></h1>
        <p th:text="${yesin.member.nickname}"></p>
        <p th:text="${ #dates.format(yesin.postDate, 'yyyy.MM.dd') }"></p>
        <p th:text="${yesin.postContext}"></p>

        <button type="button" th:onclick="|location.href='@{/user/board/modify(id=${yesin.postCode})}'|">수정하기</button>
        <form th:action="@{/user/board/delete(id=${yesin.postCode})}" method="post">
            <input type="hidden" th:value="${yesin.subCategory}" name="subCategory">
            <input type="hidden" th:value="${yesin.postCode}" name="postCode">
            <button type="submit">삭제하기</button>
        </form>

    </div>
    </table>


</body>
</html>