<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beanions.common.dao.admin.AdminMapper">
    <resultMap id="adminPostResultMap" type="com.beanions.common.dto.AdminPostDTO">
        <id property="postCode" column="post_code"/>
        <result property="memberCode" column="member_code"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContext" column="post_context"/>
        <result property="postDate" column="post_date"/>
        <result property="mainCategory" column="main_category"/>
        <result property="subCategory" column="sub_category"/>
        <result property="verifiedStatus" column="vef_status"/>
        <association property="member" javaType="com.beanions.common.dto.MembersDTO">
            <id property="memberCode" column="member_code"/>
            <result property="nickname" column="nickname"/>
        </association>
    </resultMap>

    <select id="selectAllPost" resultMap="adminPostResultMap">
        SELECT
               A.POST_CODE
             , A.MEMBER_CODE
             , A.POST_TITLE
             , A.POST_CONTEXT
             , A.POST_DATE
             , A.MAIN_CATEGORY
             , A.SUB_CATEGORY
             , A.VEF_STATUS
             , B.MEMBER_CODE
             , B.NICKNAME
          FROM POST A
          LEFT JOIN MEMBERS B ON (A.MEMBER_CODE = B.MEMBER_CODE)
         WHERE MAIN_CATEGORY = '자유' OR  MAIN_CATEGORY = '리뷰'
         ORDER BY A.POST_DATE DESC
    </select>

    <select id="selectPost" parameterType="_int" resultMap="adminPostResultMap">
        SELECT
               A.POST_CODE
             , A.MEMBER_CODE
             , A.POST_TITLE
             , A.POST_CONTEXT
             , A.POST_DATE
             , A.MAIN_CATEGORY
             , A.SUB_CATEGORY
             , A.VEF_STATUS
             , B.MEMBER_CODE
             , B.NICKNAME
          FROM POST A
          LEFT JOIN MEMBERS B ON (A.MEMBER_CODE = B.MEMBER_CODE)
         WHERE A.POST_CODE = #{ id }
    </select>

    <update id="postUpdate" parameterType="com.beanions.common.dto.PostDTO">
        UPDATE
               POST
           SET
               POST_TITLE = #{ postTitle }
             , POST_CONTEXT = #{ postContext}
         WHERE POST_CODE = #{ postCode }
    </update>

    <delete id="postDelete" parameterType="_int">
        DELETE
          FROM POST
         WHERE POST_CODE = #{ id }
    </delete>
</mapper>