<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beanions.common.dao.user.MainMapper">

<!-- 예수다 -->
    <resultMap id="postAllData" type="com.beanions.common.dto.PostDTO">
        <id property="postCode" column="post_code"/>
        <result property="memberCode" column="member_code"/>
        <result property="postTitle" column="post_title"/>
        <result property="postContext" column="post_context"/>
        <result property="postDate" column="post_date"/>
        <result property="mainCategory" column="main_category"/>
        <result property="subCategory" column="sub_category"/>
        <result property="verifiedStatus" column="vef_status"/>
        <result property="viewCount" column="view_count"/>
    </resultMap>

    <!--  예신수다  -->
    <select id="selectFreeBoardByBride" resultMap="postAllData">
        SELECT
                POST_CODE
                , POST_TITLE
                , MEMBER_CODE
                , POST_CONTEXT
                , POST_DATE
                , MAIN_CATEGORY
                , SUB_CATEGORY
                , VIEW_COUNT
        FROM POST
        WHERE MAIN_CATEGORY = '자유' AND SUB_CATEGORY = '예신'
        ORDER BY POST_DATE DESC
        LIMIT 6
    </select>

    <!--  예랑수다  -->
    <select id="selectFreeBoardByGroom" resultMap="postAllData">
        SELECT
                POST_CODE
                , POST_TITLE
                , MEMBER_CODE
                , POST_CONTEXT
                , POST_DATE
                , MAIN_CATEGORY
                , SUB_CATEGORY
                , VIEW_COUNT
        FROM POST
        WHERE MAIN_CATEGORY = '자유' AND SUB_CATEGORY = '예랑'
        ORDER BY POST_DATE DESC
        LIMIT 6
    </select>

    <!--  예리뷰  -->
    <select id="selectReview" resultMap="postAllData">
        SELECT
                POST_CODE
                , POST_TITLE
                , MEMBER_CODE
                , POST_CONTEXT
                , POST_DATE
                , MAIN_CATEGORY
                , SUB_CATEGORY
                , VIEW_COUNT
        FROM POST
        WHERE MAIN_CATEGORY = '리뷰'
        ORDER BY POST_DATE DESC
        LIMIT 6;
    </select>

    <!--  예피셜 > 매거진  -->
    <select id="selectMagazine" resultMap="postAllData">
        SELECT
                POST_CODE
                , POST_TITLE
                , MEMBER_CODE
                , POST_CONTEXT
                , POST_DATE
                , MAIN_CATEGORY
                , SUB_CATEGORY
                , VIEW_COUNT
        FROM POST
        WHERE MAIN_CATEGORY = '매거진'
        ORDER BY POST_DATE DESC
        LIMIT 1;
    </select>

    <!--  공지사항  -->
    <select id="selectNotice" resultMap="postAllData">
        SELECT
                POST_CODE
                , POST_TITLE
                , MEMBER_CODE
                , POST_CONTEXT
                , POST_DATE
                , MAIN_CATEGORY
                , SUB_CATEGORY
                , VIEW_COUNT
        FROM POST
        WHERE MAIN_CATEGORY = '공지사항'
        ORDER BY POST_DATE DESC
        LIMIT 5;
    </select>
</mapper>