<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beanions.common.dao.user.NoticeMapper">

    <resultMap id="PostAndMemberResultMap" type="com.beanions.common.dto.PostAndMemberDTO">
        <id property="postCode" column="POST_CODE"/>
        <result property="memberCode" column="MEMBER_CODE"/>
        <result property="postTitle" column="POST_TITLE"/>
        <result property="postContext" column="POST_CONTEXT"/>
        <result property="postDate" column="POST_DATE"/>
        <result property="mainCategory" column="MAIN_CATEGORY"/>
        <result property="subCategory" column="SUB_CATEGORY"/>
        <result property="verifiedStatus" column="VEF_STATUS"/>
        <association property="member" javaType="com.beanions.common.dto.MembersDTO">
            <id property="memberCode" column="MEMBER_CODE"/>
            <result property="nickname" column="NICKNAME"/>
        </association>
    </resultMap>

    <!-- 공지사항 전체 조회 -->
    <select id="allNoticeList" parameterType="com.beanions.common.dto.PostAndMemberDTO" resultMap="PostAndMemberResultMap">
        SELECT
        A.POST_CODE
        , A.POST_TITLE
        , A.MEMBER_CODE
        , A.POST_CONTEXT
        , A.POST_DATE
        , A.MAIN_CATEGORY
        , A.SUB_CATEGORY
        , B.MEMBER_CODE
        , B.NICKNAME
        FROM POST A
        LEFT JOIN MEMBERS B ON A.MEMBER_CODE = B.MEMBER_CODE
        WHERE MAIN_CATEGORY = '공지사항'
        ORDER BY POST_CODE desc
    </select>

    <!-- 공지사항 상세 조회 -->
    <select id="noticeSelectOneDetail" resultMap="PostAndMemberResultMap">
        SELECT
        POST_CODE,
        MEMBER_CODE,
        POST_TITLE,
        POST_CONTEXT,
        POST_DATE,
        MAIN_CATEGORY,
        SUB_CATEGORY
        FROM POST
        WHERE MAIN_CATEGORY = '공지사항' AND POST_CODE = #{ id }
        ORDER BY POST_CODE
    </select>

<!--    <update id="modifyPost" parameterType="com.beanions.common.dto.PostDTO">-->
<!--        UPDATE POST-->
<!--           SET-->
<!--               POST_TITLE = #{ postTitle },-->
<!--               POST_CONTEXT = #{ postContext },-->
<!--               POST_DATE = #{ postDate }-->
<!--         WHERE POST_CODE = #{ id }-->
<!--    </update>-->

    <update id="modifyPostTest" parameterType="com.beanions.common.dto.PostDTO">
        UPDATE POST
           SET
               POST_TITLE = #{ postTitle },
               POST_CONTEXT = #{ postContext },
               POST_DATE = #{ postDate }
         WHERE POST_CODE = #{ id }
    </update>

</mapper>