<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/user/common.css}">
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
  <link rel="stylesheet" th:href="@{/css/user/writeBoard.css}">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <title>MYPAGE</title>
  <style>
      /* 이미지 미리보기 */
      .preview_box {width: 100%; padding: 20px; border-radius: 12px; background-color: #F4F4F9;}
      .preview_list {padding-top: 20px; display: flex; }
      .preview_list li {width: calc(20% - 18px); aspect-ratio: 1 / 1; margin-right: 20px; }
      .preview_list li:nth-child(5) {margin-right: 0; }
      .preview_img {position: relative; width: 100%; height: 100%;}
      .preview_img > img { width: 100%; height: 100%; object-fit: cover; aspect-ratio: 1 / 1; border-radius: 12px; }
      .remove_preview_btn {position: absolute; top: 6px; right:6px; display: block; width: 24px; height: 24px; border-radius: 50%; background-color: var(--main-color); color: #fff; font-size: 18px; font-weight: var(--semiBold); text-align: center; line-height: 24px; cursor: pointer; transition: background-color 200ms ease-in-out;}
      .remove_preview_btn:hover {background-color: var(--point-color);}
      .attached_file_count {padding: 16px; background-color: var(--inactive-btn); border-radius: 12px; font-size: 16px; font-weight: var(--medium);}
      .count_preview {color: var(--point-color); font-weight: var(--bold);}
      .upload_img_btn.inactive {display: none;}
      .file_upload_box.preview {display: flex; justify-content: center; padding:20px; align-items: center; height: 100%; border-radius:12px; background-color: #fff; cursor: pointer;}
      .file_upload_box.preview .upload_btn {display: flex; justify-content: center; align-items: center; width: 100%;  height: 100%; border-radius: 12px; background-color: #fff; border: 1px dashed var(--main-color); font-size: 24px; font-weight: var(--bold); color: var(--main-color);}
  </style>
</head>
<body>
<div class="wrapper">
  <div class="board_cont">
    <p class="regist">글쓰기</p>
      <!--       enctype="multipart/form-data"-->
      <!-- 수정 페이지에서 원시 코드 보존을 위한 temp 부분 -->
      <div id="temp" style="display: none">${board.contents}</div>

      <select id="mainCategory" name="mainCategory" th:value="mainCategory">
        <option value="" disabled selected>게시판을 선택해 주세요.</option>
        <option value="자유">예수다</option>
        <option value="리뷰">예리뷰</option>
      </select>
      <select id="subCategory" name="subCategory" th:value="subCategory">
        <option value="" disabled selected>카테고리를 선택해주세요.</option>
        <option value="예신">예신</option>
        <option value="예랑">예랑</option>
        <option value="웨딩">웨딩</option>
        <option value="스드메">스드메</option>
        <option value="기타-리뷰">기타</option>
      </select>
      <!--      <input type="text" name="postTitle" placeholder="제목을 입력하세요.">-->
      <div class="regist_top_sec">
        <div class="schedule_tit_box">
          <input id="postTitle" type="text" name="postTitle" class="schedule_tit" maxlength="50" placeholder="제목을 입력하세요">
          <span class="tit_count eng"><span class="tit_counted">0</span>/50</span>
        </div>
      </div>
      <input type="hidden" th:value="${memberCode}" id="memberCode">
      <div>
        <!--            <textarea -->
        <!--                      style="height: 400px; width: 1000px; margin-top: 10px"></textarea>-->
        <textarea id="postContext" type="text" name="postContext" placeholder="내용을 입력하세요." th:class="board_txt_box"></textarea>
      </div>
<!--      <label>태그</label><input type="text" name="tag" placeholder="#태그를 추가하세요."><br>-->
      <div class="preview_box">
        <p class="attached_file_count">첨부파일 (&nbsp;<span class="eng"><span class="eng count_preview">0&nbsp;</span>/&nbsp;5</span>&nbsp;)</p>
        <ul class="preview_list">
          <li class="upload_img_btn">
            <label class="file_upload_box preview" name="uploadFiles">
              <span class="upload_btn">＋</span>
              <input name="uploadFiles" type="file" multiple accept="png, jpg, jpeg, webp" class="file_upload_input">
            </label>
          </li>
        </ul>
      </div>
      <!--          <input name="uploadFiles" type="file" multiple accept="png, jpg, jpeg, webp">-->
      <button type="button" class="uploadBtn">Upload</button>

      <div class="uploadResult"></div>
      <div class="button_list">
        <button type="button" onclick="history.back()" class="cancel_btn">취소</button>
        <button id="registPost">등록</button>
        <!--         onclick="goWrite(this.form);"-->
      </div>
  </div>
</div>


<script src="./js/common.js"></script>
<script>
    //페이지 로드시, 등록된 스케쥴 제목 및 내용 텍스트 길이 반영
    $(window).on('load', () => {
        $(".tit_counted").text($(".schedule_tit").val().length);
    })

    // 수정페이지에서 원시 코드 보존을 통한 코드 깨짐 방지
    // window.onload = function () {
    //     $('#summernote').summernote('code', document.getElementById('temp').innerHTML)
    // }

    //스케쥴 제목 입력시 텍스트 길이 실시간 반영
    $(".schedule_tit").on('input', (e) => {
        $(".tit_counted").text(e.target.value.length);
    })

    $(document).ready(function () {
        const mainCategorySelect = $('#mainCategory');
        const subCategorySelect = $('#subCategory');

        subCategorySelect.prop('disabled', true);

        mainCategorySelect.change(function () {

            subCategorySelect.empty();

            if (mainCategorySelect.val() === "") {
                subCategorySelect.prop('disabled', true);
            } else {
                subCategorySelect.prop('disabled', false)
            }


            switch (mainCategorySelect.val()) {
                case '자유':
                    addSubCategoryOptions(['예신', '예랑']);
                    break;
                case '리뷰':
                    addSubCategoryOptions(['웨딩', '스드메', '기타']);
                    break;
                default :
                    addSubCategoryOptions(['']);
                    break;
            }
        })

        function addSubCategoryOptions(options) {
            $.each(options, function (index, option) {
                subCategorySelect.append($('<option>', {
                    value: option,
                    text: option
                }));
            });
        }

        // 파일 선택 이벤트
        $('input[name=uploadFiles]').on('change', function (e) {
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);

            // 업로드 된 파일 유효성 체크
            if (filesArr.length > 5) {
                alert("이미지는 최대 5개까지 업로드 가능합니다.");
                // $('input[name=uploadFiles]').val();
                return;
            }

        });


        // 파일 업로드 시 미리보기 추가
        const previewTag = (imgSrc) => `<li class="preview_img">
                  <img src="${imgSrc}" alt="preview image">
                  <span class="remove_preview_btn">×</span>
                </li>`;

        // 선택 파일 삭제
        $(document).on('click', ".remove_preview_btn", (e) => {
            const input = $('input[name=uploadFiles]');
            console.log(input);
            const files = input[0].files;
            const index = $(e.target).closest("li").index();
            console.log(files);
            console.log("current delete index : " + index);
            console.log(files[index]);
            //files.delete(index);

            const dataTransfer = new DataTransfer();
            let fileArray = Array.from(files)
            fileArray.splice(index, 1);
            fileArray.forEach(file => {
                dataTransfer.items.add(file);
            });//남은 배열을 dataTransfer로 처리(Array -> FileList)
            input[0].files = dataTransfer.files;	//제거 처리된 FileList를 돌려줌
            if ($('.preview_list .preview_img').length == 5) { //마지막 미리보기 이미지 삭제시
                $(".upload_img_btn").removeClass("inactive"); // 업로드 버튼 활성화
            }
            $(e.target).closest("li").remove();
            $(".count_preview").text($('.preview_list .preview_img').length);
        })

        let imgTemp = [];
        const imgTmp = {};

        // 업로드 파일 경로 읽어오기
        function readURL(input, index) {
            if (input.files && input.files[0]) {
                //const inputFile = $("input[name='uploadFiles']");
                const files = input.files;
                console.log("files : " + files);
                console.log("열기한 파일 개수 : " + files.length);
                $(".count_preview").text(files.length > 5 ? 5 : files.length);

                for (let i = 0; i < (files.length > 5 ? 5 : files.length); i++) {
                    const reader = new FileReader();
                    console.log(files[i]);
                    reader.readAsDataURL(files[i]);

                    imgTmp.fileName = reader.readAsDataURL(files[i].name);
                    imgTemp[i].add(imgTmp);

                    reader.onload = function (e) {
                        console.log("files[" + i + "] e.target : " + e.target);
                        $('.preview_list').prepend(previewTag(e.target.result));
                        if (i == 4) {
                            $(".upload_img_btn").addClass("inactive"); // 업로드 버튼 비활성화
                        }
                    }

                }

            }
        }

        $(".file_upload_input").change(function () {

            const index = $(".upload_img_btn").index();
            console.log('파일업로드시 index : ' + index);
            readURL(this, index);

          // 파일을 가져온다.
          var file = event.target.files[0];

          // console.log(file);

          // formData객체에 파일(MultipartFile)형태 그대로 담는다
          var formData = new FormData();
          formData.append("file",file);
          // console.log(formData.get("file"));

          // Fetch를 이용하여 요청을 보낸다.
          fetch("/request-verify-wedd", {
            method: "POST",
            body: formData
          })
                  .then(response => {
                    if (!response.ok) {
                      throw new Error("Network response was not ok");
                    }
                    // return response.json();
                  })
                  // .then(data => {
                  //   // 성공적인 응답을 처리한다.
                  //   $("#fileName").val(data);
                  //   weddingFile = data;
                  //   console.log(data);
                  // })
                  .catch(error => {
                    // 오류가 발생했을 때 처리한다.
                    console.error("Error:", error);
                  });

        });

        $("#registPost").click(function (){

          const memberCode = $("#memberCode").val();
          const postTitle = $("#postTitle").val();
          const postContext = $("#postContext").val();

          const postInfo = {
            memberCode : memberCode,
            postTitle : postTitle,
            postContext : postContext,
            mainCategory : mainCategorySelect,
            subCategory : subCategorySelect
          }

          fetch("/user/registPost",{
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(postInfo)
          })
                  .then(res =>{
                    if (!res.ok) {
                      throw new Error("Network response was not ok");
                    }
                    return res.json();
                  })
                  .then(data=>{

                    if(data == null) {
                      alert("글 쓰기 등록 실패")
                      return window.location.href="/";
                    }

                    for( i= 0;  i < imgTemp.length; i++ ) {
                      imgTemp[i].postCode = data.postCode;
                    }

                    fetch("/user/registerFiles",{
                      method:"POST",
                      headers: {
                        "Content-Type": "application/json"
                      },
                      body: JSON.stringify(imgTemp)
                    })
                            .then(res=>{
                              if(!res.ok){
                                throw new Error("Network response was not ok");
                              }
                            })
                            .catch(error => {
                              console.error("Error:", error);
                            });
                  })
                  .catch(error => {
                    console.error("Error:", error);
                  });

        })

        // $(".uploadBtn").click(() => {// 업로드 버튼 클릭시, FormData생성 후 upload파일 배열 생성
        //     const formData = new FormData();
        //     // const inputFile = $("input[type='file']");
        //     const inputFile = $("input[name='uploadFiles']");
        //
        //     const files = inputFile[0].files;
        //
        //     for (let i = 0; i < files.length; i++) {
        //         console.log(files[i]);
        //         formData.append("uploadFiles", files[i].name);
        //     }
        //
        //     const showUploadedImages = arr => {
        //         console.log(arr);
        //
        //         const divArea = $(".uploadResult");
        //
        //         for (let i = 0; i < arr.length; i++) {
        //             // const imgUrl = "/display?fileName="+arr[i].imageURL;
        //             divArea.append("<img src='/display?fileName=" + arr[i].imageURL + "' alt='..null'>");
        //             // $('.preview_list').prepend(previewTag(imgUrl));
        //         }
        //     }
        //
        //     /*실제 업로드 부분*/
        //     /*upload ajax*/
        //     $.ajax({
        //         url: '/uploadAjax',
        //         processData: false,
        //         contentType: false, // 파일 업로드를 multipart/form-data 타입을 사용하기 위함
        //         data: formData,
        //         type: 'POST',
        //         dataType: 'json',
        //         success: result => {
        //             console.log(result);
        //             showUploadedImages(result);
        //         },
        //         error: (jqXHR, textStatus, errorThrown) => {
        //             console.log(textStatus)
        //         }
        //     })
        //
        //     // $.ajax({
        //     //     url: '/registerFiles',
        //     //     processData: false,
        //     //     contentType: false, // 파일 업로드를 multipart/form-data 타입을 사용하기 위함
        //     //     data: formData,
        //     //     type: 'POST',
        //     //     dataType: 'json',
        //     //     success: result => {
        //     //         console.log(result);
        //     //         showUploadedImages(result);
        //     //     },
        //     //     error: (jqXHR, textStatus, errorThrown) => {
        //     //         console.log(textStatus)
        //     //     }
        //     // })
        // })
    })
</script>
</body>
</html>