<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/user/common.css}">
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
  <link rel="stylesheet" th:href="@{/css/user/writeBoard.css}">
  <link rel="shortcut icon" th:href="@{/images/common/logo_png.png}" sizes="60x60">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
  <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <title>예신예랑</title>
  <style>
      /* 이미지 미리보기 */
      .preview_box {width: 100%; padding: 20px; border-radius: 12px; background-color: #F4F4F9;}
      .preview_list {padding-top: 20px; display: flex; }
      .preview_list li {width: calc(20% - 18px); aspect-ratio: 1 / 1; margin-right: 20px; }
      .preview_list li:nth-child(5) {margin-right: 0; }
      .preview_img {position: relative; width: 100%; height: 100%;}
      .preview_img > img { width: 100%; height: 100%; object-fit: cover; aspect-ratio: 1 / 1; border-radius: 12px; }
      .remove_preview_btn {position: absolute; top: 6px; right:6px; display: block; width: 24px; height: 24px; border-radius: 50%; background-color: var(--main-color); color: #fff; font-size: 18px; font-weight: var(--semiBold); text-align: center; line-height: 24px; cursor: pointer; transition: background-color 200ms ease-in-out;}
      .remove_preview_btn:hover {background-color: var(--point-color);}
      .attached_file_count {padding: 16px; background-color: var(--inactive-btn); border-radius: 12px; font-size: 16px; font-weight: var(--medium);}
      .count_preview {color: var(--point-color); font-weight: var(--bold);}
      .upload_img_btn.inactive {display: none;}
      .file_upload_box.preview {display: flex; justify-content: center; padding:20px; align-items: center; height: 100%; border-radius:12px; background-color: #fff; cursor: pointer;}
      .file_upload_box.preview .upload_btn {display: flex; justify-content: center; align-items: center; width: 100%;  height: 100%; border-radius: 12px; background-color: #fff; border: 1px dashed var(--main-color); font-size: 24px; font-weight: var(--bold); color: var(--main-color);}
  </style>
</head>
<body>

<!-- HEADER -->
<div th:replace="user/layout/header.html"></div>

<div class="wrapper">
  <div class="board_cont">
    <p class="regist">글쓰기</p>
      <!--       enctype="multipart/form-data"-->
      <!-- 수정 페이지에서 원시 코드 보존을 위한 temp 부분 -->
      <div id="temp" style="display: none">${board.contents}</div>

      <select id="mainCategory" name="mainCategory" th:value="mainCategory">
        <option value="" disabled selected>게시판을 선택해 주세요.</option>
        <option value="자유">예수다</option>
        <option value="리뷰">예리뷰</option>
      </select>
      <select id="subCategory" name="subCategory" th:value="subCategory">
        <option value="" disabled selected>카테고리를 선택해주세요.</option>
        <option value="예신">예신</option>
        <option value="예랑">예랑</option>
        <option value="웨딩">웨딩</option>
        <option value="스드메">스드메</option>
        <option value="기타-리뷰">기타</option>
      </select>
      <!--      <input type="text" name="postTitle" placeholder="제목을 입력하세요.">-->
      <div class="regist_top_sec">
        <div class="schedule_tit_box">
          <input id="postTitle" type="text" name="postTitle" class="schedule_tit" maxlength="50" placeholder="제목을 입력하세요">
          <span class="tit_count eng"><span class="tit_counted">0</span>/50</span>
        </div>
      </div>
      <input type="hidden" th:value="${memberCode}" id="memberCode">
      <div class="schedule_txt_box">
        <!--            <textarea -->
        <!--                      style="height: 400px; width: 1000px; margin-top: 10px"></textarea>-->
<!--        board_txt_box-->
        <textarea id="postContext" type="text" name="postContext" placeholder="내용을 입력하세요." th:class="schedule_contxt_box" maxlength="1000"></textarea>
        <span class="txt_count eng"><span class="txt_counted">0</span>/1000</span>
      </div>
<!--      <label>태그</label><input type="text" name="tag" placeholder="#태그를 추가하세요."><br>-->
      <div class="preview_box">
        <p class="attached_file_count">첨부파일 (&nbsp;<span class="eng"><span class="eng count_preview">0&nbsp;</span>/&nbsp;5</span>&nbsp;)</p>
        <ul class="preview_list">
          <li class="upload_img_btn">
            <label class="file_upload_box preview" name="uploadFiles">
              <span class="upload_btn">＋</span>
              <input name="uploadFiles" type="file" multiple accept="png, jpg, jpeg, webp" class="file_upload_input">
            </label>
          </li>
        </ul>
      </div>
      <!--          <input name="uploadFiles" type="file" multiple accept="png, jpg, jpeg, webp">-->
<!--      <button type="button" class="uploadBtn">Upload</button>-->

      <div class="uploadResult"></div>
      <div class="button_list">
        <button type="button" onclick="history.back()" class="cancel_btn">취소</button>
        <button id="registPost">등록</button>
        <!--         onclick="goWrite(this.form);"-->
      </div>
  </div>
</div>

<!-- FOOTER -->
<div th:replace="user/layout/footer.html"></div>
<!-- //FOOTER -->

<!-- 팝업창 -->
<div class="pop_bg"></div>
<div class="pop_cont">
  <span class="pop_icon"><img th:src="@{/images/common/icon_group_modal_check.svg}" alt="popup icon image"></span>
  <div class="pop_txt">
    <p>게시글 등록이 완료되었습니다.</p>
  </div>
  <span class="confirm_btn">확인</span>
</div>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/fileUpload.js}"></script>
</body>
</html>