<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/user/common.css}">
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script th:src="@{/js/mypage.js}"></script>
  <title>MYPAGE</title>
</head>
<body>
<div class="wrapper">
  <!-- HEADER -->
  <div th:replace="user/layout/header.html"></div>
  <!-- //HEADER -->

  <div class="mypage_cont">
    <p class="page_tit">마이 페이지</p>

    <!-- profile -->
    <div class="profile_box">
      <div class="profile_img">
        <img th:src="@{/images/common/icon_user_profile.svg}" alt="mypage icon">
        <!-- <input type="file" class="profile_img_upload"> -->
      </div>
      <div class="profile_txt">
        <!--         th:text="${userMypageMainData.nickname}"-->
        <p class="profile_name"><span th:text="${nickname}"></span>님</p>
        <!--          th:text="${userMypageMainData.totalCount}"-->
        <p class="total_posts_count">총 게시글 <span class="eng" th:text="${totalCount}"></span></p>
      </div>
    </div>

    <!-- sidebar & contents -->
    <div class="contents_cont">
      <div class="sidebar mypage">
        <ul>
          <li><a href="/mypage">나의 글</a></li>
          <li><a href="/mypage/review">예리뷰</a></li>
          <li><a href="/mypage/free">예수다</a></li>
          <li><a href="/mypage/comment">댓글</a></li>
          <li><a href="/mypage/schedule">스케쥴</a></li>
          <!-- <li><a href="#">포인트</a></li> -->
          <li class="active"><a href="/mypage/myinfo">회원 정보 수정</a></li>
        </ul>
      </div>

      <div class="mypage_contents">
        <div class="top_sec">
          <p class="table_tit">회원 정보 수정</p>
        </div>

        <form class="myinfo_form">
          <ul class="myinfo_list">
            <li>
              <span class="list_item_tit">아이디</span>
              <input type="text" class="id_input" th:value="${memberId}" readonly>
            </li>
            <li>
              <span class="list_item_tit">비밀번호</span>
              <span class="change_pw_btn">비밀번호 변경</span>
<!--                <input type="password" th:value="${memberPw}">-->
              <div class="change_password_box">
                <div class="password_box">
                  <input type="password" name="password" id="password"  placeholder="새로운 비밀번호를 입력해주세요.">
                  <span class="show_pw_btn"><img th:src="@{/images/common/icon_show.png}" alt="show icon image"></span>
                </div>
                <div class="message_box">
                  <span id="pwdTxt" style="font-weight:bold; font-size: 10px; color : #6667AB">* 영문,숫자,특수문자 조합 8자 이상 입력해 주세요</span>
                </div>
              </div>
            </li>
            <li class="change_password_check">
              <span class="list_item_tit">비밀번호 확인</span>
              <div class="change_password_box">
                <div class="password_box check_again">
                  <input type="password" name="checkPw" id="checkPw" placeholder="비밀번호를 다시 입력해주세요.">
                  <span class="show_pw_btn"><img th:src="@{/images/common/icon_show.png}" alt="show icon image"></span>
                </div>
                <div class="message_box">
                  <span id="pwdCheckTxt" style="font-weight:bold; font-size: 10px; color : #6667AB">* 비밀번호를 한번 더 입력해 주세요</span>
                </div>
              </div>
            </li>
            <li>
              <span class="list_item_tit" >닉네임</span>
              <div class="include_message">
                <div class="duplicate_box">
                  <input type="text" class="duplicate_input" name="nickname" id="nickname" th:value="${nickname}">
                  <span class="check_duplicate_btn" id="checkNkname">중복확인</span>
                </div>
                <div class="message_box">
                  <span id="nicknameTxt"></span>
                </div>
              </div>
            </li>
            <li>
              <span class="list_item_tit">이메일</span>
              <div class="duplicate_box">
                <input type="text" name="memail" id="memail" class="duplicate_input" th:value="${email}">
                <span class="check_duplicate_btn" id="checkEmail">인증번호</span>
              </div>
            </li>
            <li>
              <span class="list_item_tit">이메일 인증</span>
              <div class="duplicate_box box_100">
                <input type="text" name="memail" id="memailconfirm" placeholder="인증번호를 입력해 주세요" class="duplicate_input">
                <div class="message_box">
                  <span id="memailconfirmTxt"></span>
                </div>
              </div>
            </li>
            <li>
              <span class="list_item_tit">전화번호</span>
              <div class="include_message">
                <input type="text" id="phone" th:value="${phone}">
                <div class="message_box">
                  <span id="phoneTxt"></span>
                </div>
              </div>
            </li>
            <li>
              <span class="list_item_tit">성별</span>
              <div class="duplicate_box checkBoxes">
                <label class="check_box" for="male" style="padding-right: 20px">
                  <input class="check_input" type="checkbox" name="gender" id="male" value="남성">
                  <span class="check_mark"></span>
                  &nbsp;&nbsp;남성
                </label>
                <label class="check_box" for="female">
                  <input class="check_input" type="checkbox" name="gender" id="female" value="여성">
                  <span class="check_mark"></span>
                  &nbsp;&nbsp;여성
                </label>
              </div>
            </li>
            <li>
              <span class="list_item_tit">기혼 여부</span>
              <div class="duplicate_box checkBoxes">
                <label class="check_box" for="married" style="padding-right: 20px">
                  <input class="check_input" type="checkbox" name="verifyMarried" id="married" value="기혼">
                  <span class="check_mark"></span>
                  &nbsp;&nbsp;기혼
                </label>
                <label class="check_box" for="single">
                  <input class="check_input" type="checkbox" name="verifyMarried" id="single" value="미혼">
                  <span class="check_mark"></span>
                  &nbsp;&nbsp;미혼
                </label>
              </div>
            </li>
            <li>
              <span class="list_item_tit">웨딩홀 인증</span>
              <div class="upload_cont">
                <div class="upload_box">
<!--                   th:value="${weddingFile}"-->
                  <span class="upload_name_box" id="fileName" th:text="${weddingFile}"></span>
                  <label class="file_upload_box">
                    <span class="upload_btn">업로드</span>
                    <input type="file" class="file_upload_input" id="verifyFile" >
                  </label>
                </div>
                <p class="upload_txt">업로드 최대 용량은 10MB</p>
              </div>
            </li>
          </ul>
          <button class="modify_btn" id="join">수정하기</button>
        </form>
        <button class="leave_btn">회원탈퇴</button>
      </div>
    </div>

  </div>

  <!-- FOOTER -->
  <div th:replace="user/layout/footer.html"></div>
  <!-- //FOOTER -->
</div>
<!-- popup -->
<div class="pop_bg"></div>
<div class="pop_cont selective">
  <span class="pop_icon"><img th:src="@{/images/common/icon_group_modal_bang.svg}" alt="popup icon image"></span>
  <p>회원님께서 등록하신<br>
    모든 게시물이 삭제되며<br>
    보유 포인트가 소멸됩니다.</p>
  <p>탈퇴를 진행하시겠습니까?</p>
  <ul class="pop_btn_list">
    <li class="cancel_btn"><a href="#">확인</a></li>
    <li class="confirm_btn">취소</li>
  </ul>
</div>
 <script th:src="@{/js/common.js}"></script>
<script>

</script>
</body>
</html>