<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/user/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
    <title>MYPAGE</title>
</head>
<body>
<div class="wrapper">
    <!-- HEADER -->
    <div th:replace="user/layout/header.html"></div>
    <!-- //HEADER -->

    <div class="mypage_cont">
        <p class="page_tit">마이 페이지 > 댓글</p>

        <!-- profile -->
        <div class="profile_box">
            <div class="profile_img">
                <!-- <img src="" alt=""> -->
                <!-- <input type="file" class="profile_img_upload"> -->
            </div>
            <div class="profile_txt">
                <p class="profile_name"><span th:text="${userMypageCommentData.nickname}"></span>님</p>
                <p class="total_posts_count">총 게시글 <span class="eng" th:text="${userMypageCommentData.totalCount}"></span></p>
            </div>
        </div>

        <!-- sidebar & contents -->
        <div class="contents_cont">
            <div class="sidebar mypage">
                <ul>
                    <li><a href="#">나의 글</a></li>
                    <li><a href="/user/mypage/review">예리뷰</a></li>
                    <li><a href="/user/mypage/free">예수다</a></li>
                    <li class="active"><a href="/user/mypage/comment">댓글</a></li>
                    <li><a href="#">스케쥴</a></li>
                    <!-- <li><a href="#">포인트</a></li> -->
                    <li><a href="#">회원 정보 수정</a></li>
                </ul>
            </div>

            <div class="mypage_contents">
                <!-- null - 등록한 게시글 없는 경우 -->
                <div class="null_txt" th:if="${userMypageCommentData.commentCount} == 0">
                    <p>아직 등록한 글이 없어요.</p>
                    <p>지금 바로 글을 작성하셔서<br>
                        예쓰니가 되어주세요!</p>
                </div>

                <!-- 등록한 게시글이 있는 경우 -->
                <div class="top_sec" th:unless="${userMypageCommentData.commentCount} == 0">
                    <p class="table_tit">댓글<span class="posts_count eng" th:text="${userMypageCommentData.commentCount}"></span></p>
                    <form class="search_form">
                        <div class="search_box">
                            <input type="search" class="search_input" placeholder="검색어를 입력하세요">
                            <span class="clear_btn"></span>
                            <span class="search_btn"></span>
                        </div>
                    </form>
                </div>
                <div class="table_box" th:unless="${userMypageCommentData.commentCount} == 0">
                    <table class="review_table">
                        <thead>
                        <tr>
                            <th class="eng">NO</th>
                            <th>내용</th>
<!--                            <th>게시글 번호</th>-->
                            <th>작성일자</th>
                        </tr>
                        </thead>
<!--                         th:onclick="|location.href='@{/user/board/yesinDetail(id=${free.postCode})}'|"-->
                        <tbody>
                        <tr th:each="comment, i : ${userMypageCommentData.comments}">
                            <td class="eng" th:text="${i.count}"></td>
                            <td th:text="${comment.commentContext}"></td>
                            <td class="eng" th:text="${#dates.format(comment.commentDate, 'yyyy.MM.dd')}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="review_table">
                        <thead>
                        <tr>
                            <th class="eng">no</th>
                            <th>내용</th>
                            <th>작성일자</th>
                            <!--                            <th>게시글 번호</th>-->
                            <th>선택</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="comment, i : ${userMypageCommentData.comments}">
                            <td class="eng" th:text="${i.count}"></td>
                            <td>
                                <div class="comment_contxt_box">
                                    <div class="comment_info">
                                        <p class="comment_text" th:text="${comment.commentContext}"></p>
                                        <p class="comment_post_tit eng">aklflkjflk</p>
                                    </div>
                                </div>
                            </td>
                            <td class="eng" th:text="${#dates.format(comment.commentDate, 'yyyy.MM.dd')}"></td>
                            <td>
                                <label class="check_box">
                                    <input type="checkbox" class="check_input">
                                    <span class="check_mark"></span>
                                </label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- FOOTER -->
    <div th:replace="user/layout/footer.html"></div>
    <!-- //FOOTER -->
</div>
<!-- <script src="./js/common.js"></script> -->
<script>
    // 검색시 x버튼
    const clearBtn = document.querySelector('.clear_btn');
    clearBtn.addEventListener('click', (e) => {
        e.currentTarget.parentNode.querySelector('.search_input').value = null;
        clearBtn.classList.remove("active");
    })

    // 검색시 입력 내용 실시간 감지 & x버튼 활성/비활성화
    const searchInput = document.querySelector('.search_input');
    searchInput.addEventListener('input', (e) => {
        if (e.currentTarget.value.length > 0) {
            clearBtn.classList.add("active");
        } else if (e.currentTarget.value.length <= 0) {
            clearBtn.classList.remove("active");
        }
    })


</script>
</body>
</html>