<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/user/common.css}">
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
  <link rel="shortcut icon" th:href="@{/images/common/logo_png.png}" sizes="60x60">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
  <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <title>예랑예신</title>
</head>
<body>
<div class="wrapper">
  <!-- HEADER -->
  <div th:replace="user/layout/header.html"></div>
  <!-- //HEADER -->

  <div class="mypage_cont">
    <p class="page_tit">마이 페이지&nbsp;<img th:src="@{/images/common/icon_arrow_right_colored.svg}"
                                         alt="right arrow icon">&nbsp;스케쥴 등록</p>

    <!-- profile -->
    <div class="profile_box">
      <div class="profile_img">
        <img th:src="@{/images/common/icon_user_profile.svg}" alt="mypage icon">
        <!-- <input type="file" class="profile_img_upload"> -->
      </div>
      <div class="profile_txt">
        <p class="profile_name"><span th:text="${userMypageScheduleInfo.nickname}"></span>님</p>
        <p class="total_posts_count">총 게시글 <span class="eng"
                                                 th:text="${userMypageScheduleInfo.totalCount}"></span></p>
      </div>
    </div>

    <!-- sidebar & contents -->
    <div class="contents_cont">
      <div class="sidebar mypage">
        <ul>
          <li><a href="/mypage">나의 글</a></li>
          <li><a href="/mypage/review">예리뷰</a></li>
          <li><a href="/mypage/free">예수다</a></li>
          <li><a href="/mypage/comment">댓글</a></li>
          <li class="active"><a href="/mypage/schedule">스케쥴</a></li>
          <!-- <li><a href="#">포인트</a></li> -->
          <li><a href="/mypage/myinfo">회원 정보 수정</a></li>
        </ul>
      </div>

      <div class="mypage_contents">
        <form action="/mypage/scheduleRegister" method="post">
          <input style="display: none" name="memberCode"
                 th:value="${userMypageScheduleInfo.schedules.get(0).memberCode}">
          <div class="regist_top_sec">
            <input type="text" class="schedule_date_input" name="scheduleDate" value=""/>
            <div class="schedule_tit_box"><input type="text" name="scheduleTitle" class="schedule_tit"
                                                 maxlength="50" placeholder="제목을 입력하세요"><span
                    class="tit_count eng"><span class="tit_counted">0</span>/50</span></div>
          </div>
          <div class="schedule_txt_box">
                        <textarea name="scheduleContext" class="schedule_contxt_box" placeholder="내용을 입력하세요"
                                  maxlength="100"></textarea>
            <span class="txt_count eng"><span class="txt_counted">0</span>/100</span>
          </div>
          <div class="schedule_btn_list right noMargin">
            <button class="register_btn" type="button" onclick="goWrite(this.form);">등록</button>
          </div>
        </form>
        <div class="schedule_btn_list left">
          <button class="cancel_btn" th:onclick="|location.href='@{/mypage/schedule}'|">취소</button>
        </div>
      </div>
    </div>

  </div>

  <!-- FOOTER -->
  <div th:replace="user/layout/footer.html"></div>
  <!-- //FOOTER -->
</div>
<div class="pop_bg"></div>
<div class="pop_cont">
  <span class="pop_icon"><img th:src="@{/images/common/icon_group_modal_bang.svg}" alt="popup icon image"></span>
  <div class="pop_txt">
    <p>제목을 입력해주세요</p>
  </div>
  <span class="confirm_btn">확인</span>
</div>
 <script th:src="@{/js/common.js}"></script>
<script>
    // daterangepicker 스케쥴 날짜 선택
    $('input[name="scheduleDate"]').daterangepicker({
        "singleDatePicker": true,
        "locale": {
            "format": "YYYY/MM/DD",
            "separator": " - ",
        },
        "minYear": 2024,
        "maxYear": 2026,
        "autoApply": true,
        "startDate": new Date(),
        "minDate": new Date()
    }, function (start, end, label) {
        console.log($('input[name="scheduleDate"]').val());
    });

    //페이지 로드시, 등록된 스케쥴 제목 및 내용 텍스트 길이 반영
    $(window).on('load', () => {
        $(".tit_counted").text($(".schedule_tit").val().length);
        $(".txt_counted").text($(".schedule_contxt_box").val().length);
    })

    //스케쥴 제목 입력시 텍스트 길이 실시간 반영
    $(".schedule_tit").on('input', (e) => {
        $(".tit_counted").text(e.target.value.length);
    })

    //스케쥴 내용 입력시 텍스트 길이 실시간 반영
    $(".schedule_contxt_box").on('input', (e) => {
        $(".txt_counted").text(e.target.value.length);
    })

    // 날짜/input/textarea 클릭시, 스크롤 100px 내리기
    //window.scrollTo({top: 0, behavior: 'smooth'});
    $('.schedule_tit, .schedule_date_input, .schedule_contxt_box').on('click', () => {
        $('html, body').animate({scrollTop: 100}, 200);
    })

    // 제목 및 내용 미입력시 등록 불가
    function goWrite(frm) {
        var title = frm.scheduleTitle.value;
        var content = frm.scheduleContext.value;

        if (title.trim() == ''){
            // alert("제목을 입력해주세요");
            $(".pop_cont").find("p").text("제목을 입력해주세요.");
            $(".pop_bg, .pop_cont").addClass("active");
            $("html, body").addClass("fixed");
            $(".confirm_btn").click(() => {
                $(".pop_bg, .pop_cont").removeClass("active"); // 팝업창/팝업배경 비활성화
                $("html, body").removeClass("fixed");
                $('.schedule_tit').focus();
            })

            return false;
        }
        if (content.trim() == ''){
            $(".pop_cont").find("p").text("내용을 입력해주세요.");
            $(".pop_bg, .pop_cont").addClass("active");
            $("html, body").addClass("fixed");
            $(".confirm_btn").click(() => {
                $(".pop_bg, .pop_cont").removeClass("active"); // 팝업창/팝업배경 비활성화
                $("html, body").removeClass("fixed");
                $('.schedule_contxt_box').focus();
            })

            return false;
        }
        frm.submit();
    }
</script>
</body>
</html>