<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/default.css}">
  <link rel="stylesheet" th:href="@{/css/user/common.css}">
  <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <title>MYPAGE</title>
</head>
<body>
<div class="wrapper">
  <!-- HEADER -->
  <div th:replace="user/layout/header.html"></div>
  <!-- //HEADER -->

  <div class="mypage_cont">
    <p class="page_tit">마이 페이지</p>

    <!-- profile -->
    <div class="profile_box">
      <div class="profile_img">
        <!-- <img src="" alt=""> -->
        <!-- <input type="file" class="profile_img_upload"> -->
      </div>
      <div class="profile_txt">
        <!--         th:text="${userMypageMainData.nickname}"-->
        <p class="profile_name"><span th:text="${nickname}"></span>님</p>
        <!--          th:text="${userMypageMainData.totalCount}"-->
        <p class="total_posts_count">총 게시글 <span class="eng" th:text="${totalCount}"></span></p>
      </div>
    </div>

    <!-- sidebar & contents -->
    <div class="contents_cont">
      <div class="sidebar mypage">
        <ul>
          <li><a href="/mypage/review">나의 글</a></li>
          <li><a href="/mypage/review">예리뷰</a></li>
          <li><a href="/mypage/free">예수다</a></li>
          <li><a href="/mypage/comment">댓글</a></li>
          <li><a href="/mypage/schedule">스케쥴</a></li>
          <!-- <li><a href="#">포인트</a></li> -->
          <li class="active"><a href="/mypage/myinfo">회원 정보 수정</a></li>
        </ul>
      </div>

      <div class="mypage_contents">
        <div class="top_sec">
          <p class="table_tit">회원 정보 수정</p>
        </div>

        <form class="myinfo_form">
          <ul class="myinfo_list">
            <li>
              <span class="list_item_tit">아이디</span>
              <input type="text" class="id_input" th:value="${memberId}" readonly>
            </li>
            <li>
              <span class="list_item_tit">비밀번호</span>
              <div class="password_box">
                <input type="password" th:value="${memberPw}">
                <span class="show_pw_btn"><img th:src="@{/images/common/icon_show.png}" alt="popup icon image"></span>
              </div>
            </li>
            <li>
              <span class="list_item_tit">닉네임</span>
              <div class="duplicate_box">
                <input type="text" class="duplicate_input" th:value="${nickname}">
                <span class="check_duplicate_btn">중복확인</span>
              </div>
            </li>
            <li>
              <span class="list_item_tit">이메일</span>
              <div class="duplicate_box">
                <input type="text" class="duplicate_input" th:value="${email}">
                <span class="check_duplicate_btn">중복확인</span>
              </div>
            </li>
            <li>
              <span class="list_item_tit">전화번호</span>
              <input type="text" th:value="${phone}">
            </li>
            <li>
              <span class="list_item_tit">성별</span>
            </li>
            <li>
              <span class="list_item_tit">기혼 여부</span>
            </li>
            <li>
              <span class="list_item_tit">웨딩홀 인증</span>
              <div class="upload_cont">
                <div class="upload_box">
                  <span class="upload_name_box"></span>
                  <label class="file_upload_box">
                    <span class="upload_btn">업로드</span>
                    <input type="file" class="file_upload_input" th:value="${weddingFile}">
                  </label>
                </div>
                <p class="upload_txt">업로드 최대 용량은 10MB</p>
              </div>
            </li>
          </ul>
          <button class="modify_btn">수정하기</button>
        </form>
        <button class="leave_btn">회원탈퇴</button>
      </div>
    </div>

  </div>

  <!-- FOOTER -->
  <div th:replace="user/layout/footer.html"></div>
  <!-- //FOOTER -->
</div>
<!-- popup -->
<div class="pop_bg"></div>
<div class="pop_cont selective">
  <span class="pop_icon"><img th:src="@{/images/common/icon_group_modal_bang.svg}" alt="popup icon image"></span>
  <p>회원님께서 등록하신<br>
    모든 게시물이 삭제되며<br>
    보유 포인트가 소멸됩니다.</p>
  <p>탈퇴를 진행하시겠습니까?</p>
  <ul class="pop_btn_list">
    <li class="cancel_btn"><a href="#">확인</a></li>
    <li class="confirm_btn">취소</li>
  </ul>
</div>
<!-- <script src="./js/common.js"></script> -->
<script>
    //비밀번호 보기 아이콘 버튼 클릭시, 비밀번호 노출/비노출
    $(".show_pw_btn").click((e) => {
        if($(e.target).closest("span.show_pw_btn").hasClass("active")){ // 이미 활성화된 상태라면
            $(e.target).closest("span.show_pw_btn").removeClass("active"); // 활성화 클래스 제거
            $(e.target).attr("th:src","@{/images/common/icon_show.png}"); // show 아이콘 이미지로 변경
            $(e.target).attr("src","/images/common/icon_show.png"); // show 아이콘 이미지로 변경
            $(e.target).closest("span.show_pw_btn").siblings("input").attr("type", "password");// input 타입 password로 변경
        }else{ // 비활성화된 상태라면
            $(e.target).closest("span.show_pw_btn").addClass("active"); // 활성화 클래스 추가
            $(e.target).attr("th:src","@{/images/common/icon_hide.png}"); // hide 아이콘 이미지로 변경
            $(e.target).attr("src","/images/common/icon_hide.png"); // hide 아이콘 이미지로 변경
            $(e.target).closest("span.show_pw_btn").siblings("input").attr("type", "text"); // input 타입 text로 변경
        }
    })

    //회원탈퇴 버튼 클릭시, 재확인 팝업창 활성화
    $(".leave_btn").on(('click'), () => {
        $(".pop_bg, .pop_cont").addClass("active");
    })

    $(".pop_btn_list > li").click((e) => {
        if($(e.target).closest("li").hasClass("cancel_btn")){//회원탈퇴 확인 버튼을 클릭시
            console.log("회원탈퇴 확인 버튼 클릭");
        }else{//회원탈퇴 취소 버튼을 클릭시
            console.log("회원탈퇴 취소 버튼 클릭");
        }

        $(".pop_bg, .pop_cont").removeClass("active"); // 팝업창/팝업배경 비활성화
    })
</script>
</body>
</html>