<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/default.css}"/>
  <link rel="stylesheet" th:href="@{/css/user/common.css}">
  <link rel="stylesheet" th:href="@{/css/user/writeBoard.css}">
<!--  <link rel="stylesheet" th:href="@{/css/summernote/summernote-lite.css}">-->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">-->
<!--  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>-->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <title>예신예랑</title>
  <style>
      select option[value=""][disabled] {
          display: none;
      }
  </style>
</head>
<body>
<div th:replace="user/layout/header.html"></div>
<div class="wrapper">
  <div class="board_cont">
    <p class="regist">글쓰기</p>
    <form action="/registBoard" method="post" enctype="multipart/form-data">
      <!-- 수정 페이지에서 원시 코드 보존을 위한 temp 부분 -->
      <div id="temp" style="display: none">${board.contents}</div>

      <select id="mainCategory" name="mainCategory" th:value="mainCategory">
        <option value="" disabled selected>게시판을 선택해 주세요.</option>
        <option value="자유">예수다</option>
        <option value="리뷰">예리뷰</option>
      </select>
      <select id="subCategory" name="subCategory" th:value="subCategory">
        <option value="" disabled selected>카테고리를 선택해주세요.</option>
        <option value="예신">예신</option>
        <option value="예랑">예랑</option>
        <option value="웨딩">웨딩</option>
        <option value="스드메">스드메</option>
        <option value="기타-리뷰">기타</option>
      </select>
<!--      <input type="text" name="postTitle" placeholder="제목을 입력하세요.">-->
      <div class="regist_top_sec">
        <div class="schedule_tit_box">
          <input type="text" name="postTitle" class="schedule_tit" maxlength="50" placeholder="제목을 입력하세요">
          <span class="tit_count eng"><span class="tit_counted">0</span>/50</span>
        </div>
      </div>
<!--      <input type="hidden" th:value="${memberCode}" name="memberCode">-->
      <input type="hidden" value="27" name="memberCode">
      <div>
<!--            <textarea -->
<!--                      style="height: 400px; width: 1000px; margin-top: 10px"></textarea>-->
        <textarea id="summernote" type="text" th:class="form-control"
                  name="postContext" placeholder="내용을 입력하세요." rows="10"></textarea>
      </div>
      <label>태그</label><input type="text" name="tag" placeholder="#태그를 추가하세요."><br>
      <div class="button_list">
        <button type="button" onclick="history.back()" class="cancel_btn">취소</button>
        <button type="submit">등록</button>
<!--         onclick="goWrite(this.form);"-->
      </div>
    </form>
  </div>
</div>
<div th:replace="user/layout/footer.html"></div>

<!-- TOP BUTTON -->
<span class="top_btn eng">TOP</span>

<script th:src="@{/js/common.js}"></script>
<script>
    //페이지 로드시, 등록된 스케쥴 제목 및 내용 텍스트 길이 반영
    $(window).on('load', () => {
        $(".tit_counted").text($(".schedule_tit").val().length);
    })

    // 수정페이지에서 원시 코드 보존을 통한 코드 깨짐 방지
    // window.onload = function () {
    //     $('#summernote').summernote('code', document.getElementById('temp').innerHTML)
    // }

    //스케쥴 제목 입력시 텍스트 길이 실시간 반영
    $(".schedule_tit").on('input', (e) => {
        $(".tit_counted").text(e.target.value.length);
    })

    $(document).ready(function () {
        const mainCategorySelect = $('#mainCategory');
        const subCategorySelect = $('#subCategory');

        subCategorySelect.prop('disabled', true);

        mainCategorySelect.change(function () {

            subCategorySelect.empty();

            if (mainCategorySelect.val() === "") {
                subCategorySelect.prop('disabled', true);
            } else {
                subCategorySelect.prop('disabled', false)
            }


            switch (mainCategorySelect.val()) {
                case '자유':
                    addSubCategoryOptions(['예신', '예랑']);
                    break;
                case '리뷰':
                    addSubCategoryOptions(['웨딩', '스드메', '기타']);
                    break;
                default :
                    addSubCategoryOptions(['']);
                    break;
            }
        })

        function addSubCategoryOptions(options) {
            $.each(options, function (index, option) {
                subCategorySelect.append($('<option>', {
                    value: option,
                    text: option
                }));
            });
        }

        $('#summernote').summernote({
            // 에디터 높이
            height: 150,
            // 에디터 한글 설정
            lang: "ko-KR",
            // 에디터에 커서 이동 (input창의 autofocus라고 생각)
            focus : true,
            placeholder: '내용을 입력해주세요',
            height: 500,
            // toolbar: [
            //     // 글꼴 설정
            //     ['fontname', ['fontname']],
            //     // 글자 크기 설정
            //     ['fontsize', ['fontsize']],
            //     // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
            //     ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
            //     // 글자색
            //     ['color', ['forecolor','color']],
            //     // 글머리 기호, 번호매기기, 문단정렬
            //     ['para', ['ul', 'ol', 'paragraph']],
            //     // 줄간격
            //     ['height', ['height']],
            // ],
            // 추가한 글꼴
            fontNames: ['맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체','Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','Poppins',],
            // 추가한 폰트사이즈
            fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    // 파일 업로드
                    for (var i = files.length - 1; i >= 0; i--) {
                        var fileName = files[i].name
                        var caption = prompt('이미지 설명:', fileName)
                        if (caption == '') {
                            caption = '이미지'
                        }
                        uploadSummernoteImageFile(files[i], this, caption)
                    }
                },
                onMediaDelete: function ($target, editor, $editable) {
                    // 삭제된 이미지의 파일 이름을 알아내기 위해 split 활용
                    if (confirm('이미지를 삭제하시겠습니까?')) {
                        var deletedImageUrl = $target.attr('src').split('/').pop()

                        // ajax 함수 호출
                        deleteSummernoteImageFile(deletedImageUrl)
                    }
                },
            },

        });
    });

    // 이미지 업로드 ajax
    function uploadSummernoteImageFile(file, el, caption) {
        data = new FormData()
        data.append('file', file)
        $.ajax({
            data: data,
            type: 'POST',
            url: 'uploadSummernoteImageFile',
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (data) {
                $(el).summernote('editor.insertImage', data.url, function ($image) {
                    $image.attr('alt', caption) // 캡션 정보를 이미지의 alt 속성에 설정
                })
            },
        })
    }

    // 이미지 삭제 ajax
    function deleteSummernoteImageFile(imageName) {
        data = new FormData()
        data.append('file', imageName)
        $.ajax({
            data: data,
            type: 'POST',
            url: 'deleteSummernoteImageFile',
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
        })
    }

    function goWrite(frm) {
        var title = frm.postTitle.value;
        var content = frm.postContext.value;

        if (title.trim() == ''){
            alert("제목을 입력해주세요");
            return false;
        }
        if (content.trim() == ''){
            alert("내용을 입력해주세요");
            return false;
        }
        frm.submit();
    }


</script>
</body>
</html>